<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upps, hubo un error!!!</title>
  <link rel="stylesheet" href="{{@BASE}}/assets/css/error404.css">
</head>
<body>
<div class="not-found parallax">
  <div class="sky-bg"></div>
  <div class="wave-7"></div>
  <div class="wave-6"></div>
  <a class="wave-island" href="{{@BASE}}/panel">
    <img src="{{@BASE}}/assets/img/island.svg" alt="Island">
  </a>
  <div class="wave-5"></div>
  <div class="wave-lost wrp">
    <span>4</span>
    <span>0</span>
    <span>4</span>
  </div>
  <div class="wave-4"></div>
  <div class="wave-boat">
    <img class="boat" src="{{@BASE}}/assets/img/boat.svg" alt="Boat">
  </div>
  <div class="wave-3"></div>
  <div class="wave-2"></div>
  <div class="wave-1"></div>
  <div class="wave-message">
    <p>Your're lost <br>Click on the island to return principal page</p>
    <p>Estás perdido <br> Click en la isla para regresar a la página principal</p>
  </div>
</div>
<script type="text/javascript" src="{{@BASE}}/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{@BASE}}/assets/js/error404.js"></script>
</body>
</html>
