<div class="col-md-12">
	<div class="card">
		<div class="msgBienvenida">
			Bienvenido
			<br>
			{{@nombreUsuario}}
			<br>
			<!--<span class="ultimoIngreso">Última conexión 06 de Febrero de 2019</span>-->
		</div>
	</div>
</div>
