<!--
	@NOTA : EN LOS COMBOS DONDE EXISTE LA OPCIÓN OTRO SE DEJO COMO VALOR = 5
-->
<div class="card">
	<form id="cuestionario" action="{{ @BASE.'/guardarCuestionario' }}" method="post" enctype="multipart/form-data" autocomplete="off">
		<input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
    	<div class="header">
        	<h4 class="title">Ficha de datos para observatorio de crímenes</h4>
			<div class="content">
				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-md-2">
						Fecha de hecho:
						<input type="text" name="fecha_hecho" id="fecha_hecho" class="form-control border-input-line"
            							pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="DD/MM/YYYY" value="{{@fechaHecho}}" required title="Ingrese una fecha">
        	</div>
					<div class="col-md-2">
						Folio de la ficha:
						<input type="text" name="folio_ficha" id="folio_ficha" readonly="" class="form-control border-input-line"
								maxlength="10"	pattern="[0-9]{10}" placeholder="Folio Nuevo" value="{{ @folio }}" title="Se requiere un número con 10 digitos">
            		</div>
          		</div>
        	</div>
    	</div>
		<div class="content">
        	<!-- Nav tabs -->
			<ul class="nav nav-tabs" id="tabCuestionario" role="tablist">
				<li class="nav-item active">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#personales" role="tab" aria-controls="home" aria-selected="true" required>
						I.	Datos personales de la víctima
            		</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#demograficos" role="tab" aria-controls="profile" aria-selected="false" required>
						II.	Datos demográficos de la víctima
            		</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="messages-tab" data-toggle="tab" href="#hecho" role="tab" aria-controls="messages" aria-selected="false">
						III.	Características del hecho
            		</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="messages-tab" data-toggle="tab" href="#seguimiento" role="tab" aria-controls="messages" aria-selected="false">
						IV.	Seguimiento al caso
            		</a>
				</li>
        	</ul>
          <!-- Tab panes -->
            <div class="tab-content">
                <!-- TAB DE DATOS PERSONALES -->
                <div class="tab-pane active" id="personales" role="tabpanel" aria-labelledby="datos-tab">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                    <label> 1.- Nombre Social: </label>
                                    <input type="text" name="nombre_social" class="form-control border-input limpiarCampo"  placeholder="Social" value="{{@info->nombre_social}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                    <label> 2.- Nombre Legal: </label>
                                    <input type="text" name="nombre_legal" class="form-control border-input limpiarCampo"  placeholder="Legal" value="{{@info->nombre_legal}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> 3.- Sexo: </label>
                                    <div class="form-check">
                                        <input class="form-check-input" name="sexo" type="radio"  value="1" <check if="{{ @info->sexo == 1 }}">checked</check> >
                                        <label class="form-check-label" for="exampleRadios2">Hombre</label>
                                        &nbsp; &nbsp; &nbsp;
                                        <input class="form-check-input" name="sexo" type="radio"  value="2" <check if="{{ @info->sexo == 2 }}">checked</check> >
                                        <label class="form-check-label" for="exampleRadios2">Mujer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label> 4.- Edad: </label>
	                                    <input type="text" name="edad" id="edad" class="form-control border-input limpiarCampo" maxlength="2" pattern="[0-9]{2}"
	                                    				placeholder="" value="<check if='{{ @info->edad != 99 }}'>{{ @info->edad }}</check>">
                                </div>
                            </div>
                            <div class="col-md-2">
	                            <label> &nbsp; </label>
	                            <select name="rango_edad" id="rango_edad" class="form-control border-input valida-otro">
                                    <option value="98">Seleccione</option>
                                    <loop from="{{ @i=0,@j = 1 }}" to="{{ @i <= 70 }}" step="{{ @i = @i+5, @j++ }}">
									    {{ @j == 5 ? @j++ :'' }} <!-- esto es para evitar el valor 5 -->
										<option value="{{ @j }}" <check if="{{ @info->rango_edad == @j }}">selected</check>>{{ @i + 5 }} - {{ @i + 9 }}</option>
								  	</loop>
                                    <option value="99">No fue posible identificarla</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label> 5.- Orientación sexual: </label>
                                <select name="orientacion_sexual" id="orientacion_sexual" class="form-control border-input valida-otro">
                                    <option value="98">Seleccione</option>
                                    <option value="1" <check if="{{ @info->orientacion_sexual == 1 }}">selected</check> >Heterosexual</option>
                                    <option value="2" <check if="{{ @info->orientacion_sexual == 2 }}">selected</check> >Homosexual/ Gay</option>
                                    <option value="3" <check if="{{ @info->orientacion_sexual == 3 }}">selected</check> >Lesbiana</option>
                                    <option value="4" <check if="{{ @info->orientacion_sexual == 4 }}">selected</check> >Bisexual</option>
                                    <option value="5" <check if="{{ @info->orientacion_sexual == 5 }}">selected</check> >Otro</option> <!-- campo oculto-->
                                    <option value="99" <check if="{{ @info->orientacion_sexual == 99 }}">selected</check> >No fue posible identificarla</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3">
	                            <label> Otro: </label>
                                <input type="text" name="otro_orientacion_sexual" class="form-control border-input limpiarCampo"
																		value="{{@otroInfo['orientacion_sexual']}}" maxlength="250" readonly="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                  <label> 6.- Identidad de género:</label>
                                    <select name="identidad_genero" id="identidad_genero" class="form-control border-input valida-otro">
	                                    <option value="98">Seleccione</option>
	                                    <option value="1" <check if="{{ @info->identidad_genero == 1 }}"> selected</check> >Hombre</option>
	                                    <option value="2" <check if="{{ @info->identidad_genero == 2 }}">selected</check> >Mujer</option>
	                                    <option value="3" <check if="{{ @info->identidad_genero == 3 }}">selected</check> >Mujer Trans.</option>
																			<option value="4" <check if="{{ @info->identidad_genero == 4 }}">selected</check> >Hombre Trans.</option>
																			<option value="5" <check if="{{ @info->identidad_genero == 5 }}">selected</check> >Otro</option> <!-- campo oculto-->
																			<option value="99"<check if="{{ @info->identidad_genero == 99 }}">selected</check>>No fue posible identificarla</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
	                            <label> Otro: </label>
                                <input type="text" name="otro_identidad_genero" class="form-control border-input limpiarCampo"
									maxlength="250" value="{{@otroInfo['identidad_genero']}}" readonly="">
                            </div>
                            <div class="col-md-3">
                              	<div class="form-group">
                                  <label> 7.- Origen Étnico: </label>
                                  <select name="origen_etnico" id="origen_etnico" class="form-control border-input valida-otro">
                                    <option value="98">Seleccione</option>
                                    <option value="1" <check if="{{ @info->origen_etnico == 1 }}">selected</check> >Mestiza</option>
                                    <option value="2" <check if="{{ @info->origen_etnico == 2 }}">selected</check> >Blanca</option>
                                    <option value="3" <check if="{{ @info->origen_etnico == 3 }}">selected</check> >Indígena</option>
                                    <option value="4" <check if="{{ @info->origen_etnico == 4 }}">selected</check> >Mulata</option>
                                    <option value="6" <check if="{{ @info->origen_etnico == 6 }}">selected</check> >Afrodescendiente</option>
                                    <option value="5" <check if="{{ @info->origen_etnico == 5 }}">selected</check> >Otro</option> <!-- campo oculto-->
                                    <option value="99"<check if="{{ @info->origen_etnico == 99 }}">selected</check> >No fue posible identificarla</option>
                                  </select>
                              	</div>
                          	</div>
                          	<div class="col-md-3">
	                            <label> Otro: </label>
                                <input type="text" name="otro_origen_etnico" class="form-control border-input limpiarCampo"
										maxlength="250" value="{{@otroInfo['origen_etnico']}}" readonly="">
                            </div>
                        </div>
                        <div class="row">
                          	<div class="col-md-4">
                              	<div class="form-group">
                                   <label> 8.- Estado civil:</label>
                                   <select name="estado_civil" id="estado_civil" class="form-control border-input valida-otro">
                                     <option value="98">Seleccione</option>
                                     <option value="1" <check if="{{ @info->estado_civil == 1 }}">selected</check> >Soltera(o)</option>
                                     <option value="2" <check if="{{ @info->estado_civil == 2 }}">selected</check> >Casada(o)</option>
                                     <option value="3" <check if="{{ @info->estado_civil == 3 }}">selected</check> >Divorciada(o)</option>
                                     <option value="4" <check if="{{ @info->estado_civil == 4 }}">selected</check> >Unión libre / concubinato</option>
                                     <option value="5" <check if="{{ @info->estado_civil == 5 }}">selected</check>>Otro</option>  <!-- campo oculto-->
                                     <option value="99"<check if="{{ @info->estado_civil == 99 }}">selected</check>>No fue posible identificarlo</option>
                                   </select>
                              	</div>
                            </div>
                            <div class="col-md-4">
	                            <label> Otro: </label>
                                <input type="text" name="otro_estado_civil" class="form-control border-input limpiarCampo"
													maxlength="250" value="{{@otroInfo['estado_civil']}}" readonly="">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label> 9.- Número de hijo(a)s de la víctima: </label>
                                    <select name="numero_hijos" id="numero_hijos" class="form-control border-input">
                                      <option value="98">Seleccione</option>
                                      <option value="1" <check if="{{ @info->numero_hijos == 1 }}">selected</check> >Ninguno</option>
                                      <option value="2" <check if="{{ @info->numero_hijos == 2 }}">selected</check> >Uno</option>
                                      <option value="3" <check if="{{ @info->numero_hijos == 3 }}">selected</check> >Dos</option>
                                      <option value="4" <check if="{{ @info->numero_hijos == 4 }}">selected</check> >Tres</option>
                                      <option value="6" <check if="{{ @info->numero_hijos == 6 }}">selected</check> >Cuatro o más</option>
                                      <option value="99"<check if="{{ @info->numero_hijos == 99 }}">selected</check> >No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div><!-- content-->
                </div>
                <!-- TAB DE DATOS PERSONALES -->

                <!-- TAB DEMOGRAFICOS -->
				<div class="tab-pane" id="demograficos" role="tabpanel" aria-labelledby="hechos-tab">
                	<div class="content">
	                	<div class="row">
		                	<div class="col-md-6">
                                <div class="form-group">
                                    <label> 10.- ¿La víctima era de nacionalidad mexicana?: </label>
                                    <select name="nacionalidad_mexicana" id="nacionalidad_mexicana" class="form-control border-input">
                                      <option value="98">Seleccione</option>
                                      <option value="1" <check if="{{ @info->nacionalidad_mexicana == 1 }}">selected</check> >Sí, era mexicano o mexicana de nacimiento</option>
                                      <option value="2" <check if="{{ @info->nacionalidad_mexicana == 2 }}">selected</check> >Sí, era una persona extranjera nacionalizada mexicana </option>
                                      <option value="3" <check if="{{ @info->nacionalidad_mexicana == 3 }}">selected</check> >No, era una persona extranjera sin nacionalidad mexicana</option>
                                      <option value="99"<check if="{{ @info->nacionalidad_mexicana == 4 }}">selected</check> >No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> 11.- Estado donde nació: </label>
                                    <select name="localidad_nacimiento" id="localidad_nacimiento" class="form-control border-input" disabled="">
	                                    <option value="98">Seleccione</option>
                                        <repeat group="{{ @estados }}" value="{{ @estado }}">
                                            <option value="{{ trim(@estado.idestado) }}"
                                            			<check if="{{ @info->localidad_nacimiento == @estado.idestado }}">selected</check> >
                                            			{{ trim(@estado.estado) }}
                                            </option>
                                        </repeat>
                                        <option value="99" <check if="{{ @info->localidad_nacimiento == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> 11a.- Municipio: </label>
                                    <input type="text" name="municipio_nacimiento" class="form-control border-input limpiarCampo"
											maxlength="249" value="{{@info->municipio_nacimiento}}" readonly="">
                                </div>
                            </div>
                        </div>
	                	<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> 12.- País de nacimiento: </label>
                                    <select name="pais_nacimiento" id="pais_nacimiento" class="form-control border-input" disabled="">
	                                    <option value="98">Seleccione</option>
	                                    <repeat group="{{ @paises }}" value="{{ @pais }}">
                                            <option value="{{ trim(@pais.clave_pais) }}"
                                            	<check if="{{ @info->pais_nacimiento == @pais.clave_pais }}">selected</check> >
                                            	{{ trim(@pais.descripcion) }}
                                            </option>
                                      </repeat>
	                                    <option value="99">No fue posible identificarlo</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div class="form-group">
                                    <label> 13.- Situación migratoria en México: </label>
                                    <select name="situacion_migratoria" class="form-control border-input">
	                                    <option value="98">Seleccione</option>
	                                    <option value="1" <check if="{{ @info->situacion_migratoria == 1 }}">selected</check> >Visa humanitaria</option>
	                                    <option value="2" <check if="{{ @info->situacion_migratoria == 2 }}">selected</check> >En proceso de refugio</option>
	                                    <option value="3" <check if="{{ @info->situacion_migratoria == 3 }}">selected</check> >Refugiados</option>
	                                    <option value="4" <check if="{{ @info->situacion_migratoria == 4 }}">selected</check> >Residente</option>
	                                    <option value="6" <check if="{{ @info->situacion_migratoria == 6 }}">selected</check> >Regular</option>
	                                    <option value="7" <check if="{{ @info->situacion_migratoria == 7 }}">selected</check> >Irregular</option>
                                    </select>
                              	</div>
                          	</div>
                        </div>
                        <div class="row">
	                        <div class="col-md-5">
                                <div class="form-group">
                                    <label> 14.- Estado donde reside o residía la víctima: </label>
                                    <select name="estado_residencia" class="form-control border-input">
                                      <option value="98">Seleccione</option>
                                      <repeat group="{{ @estados }}" value="{{ @estado }}">
                                            <option value="{{ trim(@estado.idestado) }}"
                                              <check if="{{ @info->estado_residencia == @estado.idestado }}">selected</check> >
                                             {{ trim(@estado.estado) }}
                                            </option>
                                      </repeat>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label> 15.- Nivel de estudios de la víctima: </label>
                                    <select name="nivel_estudios" id="nivel_estudios" class="form-control border-input valida-otro">
	                                      <option value="98">Seleccione</option>
	                                      <option value="1" <check if="{{ @info->nivel_estudios == 1 }}">selected</check>>No fue a la escuela</option>
	                                      <option value="2" <check if="{{ @info->nivel_estudios == 2 }}">selected</check>>Primaria</option>
	                                      <option value="3" <check if="{{ @info->nivel_estudios == 3 }}">selected</check>>Secundaria</option>
	                                      <option value="4" <check if="{{ @info->nivel_estudios == 4 }}">selected</check>>Preparatoria o bachillerato</option>
	                                      <option value="6" <check if="{{ @info->nivel_estudios == 5 }}">selected</check>>Carrera técnica o comercial</option>
	                                      <option value="7" <check if="{{ @info->nivel_estudios == 7 }}">selected</check>>Licenciatura</option>
	                                      <option value="8" <check if="{{ @info->nivel_estudios == 8 }}">selected</check>>Maestría o Doctorado</option>
	                                      <option value="5" <check if="{{ @info->nivel_estudios == 5 }}">selected</check>>Otro tipo de educación</option> <!-- campo oculto-->
	                                      <option value="99"<check if="{{ @info->nivel_estudios == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> 15a.- Otro tipo de educación: </label>
                                    <input type="text" name="otro_nivel_estudios" class="form-control border-input limpiarCampo"
										maxlength="250" value="{{@otroInfo['nivel_estudios']}}" readonly="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label> 16.- Actividad laboral principal a la que se dedica/dedicaba la víctima: </label>
                                    <select name="actividad_laboral" id="actividad_laboral" class="form-control border-input">
	                                    <option value="98">Seleccione</option>
	                                    <option value="1" <check if="{{ @info->actividad_laboral == 1 }}">selected</check>>Ninguna</option>
	                                    <option value="2" <check if="{{ @info->actividad_laboral == 2 }}">selected</check>>Hogar</option>
	                                    <option value="3" <check if="{{ @info->actividad_laboral == 3 }}">selected</check>>Estudiante</option>
	                                    <option value="4" <check if="{{ @info->actividad_laboral == 4 }}">selected</check>>Empleado Privado o Público</option>
	                                    <option value="6" <check if="{{ @info->actividad_laboral == 6 }}">selected</check>>Docente</option>
	                                    <option value="7" <check if="{{ @info->actividad_laboral == 7 }}">selected</check>>Profesionista Independiente</option>
	                                    <option value="8" <check if="{{ @info->actividad_laboral == 8 }}">selected</check>>Autoempleo</option>
	                                    <option value="9" <check if="{{ @info->actividad_laboral == 9 }}">selected</check>>Trabajo sexual</option>
										<option value="10" <check if="{{ @info->actividad_laboral == 10 }}">selected</check>>Actividades artísticas</option>
										<option value="11" <check if="{{ @info->actividad_laboral == 11 }}">selected</check>>Estética y belleza</option>
	                                    <option value="5" <check if="{{ @info->actividad_laboral == 5 }}">selected</check>>Otro</option> <!-- campo oculto-->
	                                    <option value="99"<check if="{{ @info->actividad_laboral == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label> 16a.- Otra actividad laboral: </label>
                                    <input type="text" name="otro_actividad_laboral" class="form-control border-input limpiarCampo"
																													maxlength="250" value="{{@otroInfo['actividad_laboral']}}">
                                </div>
                            </div>
												</div>
	                      <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label> 17.- ¿La víctima realiza o realizaba trabajos relacionados con acciones de defensa o promoción de DH?: </label>
                                    <select name="trabajo_de_defensa" class="form-control border-input">
	                                    <option value="98">Seleccione</option>
	                                    <option value="1" <check if="{{ @info->trabajo_de_defensa == 1 }}">selected</check>>Si</option>
	                                    <option value="2" <check if="{{ @info->trabajo_de_defensa == 2 }}">selected</check>>No</option>
                                      <option value="99"  <check if="{{ @info->trabajo_de_defensa == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label> 18.- ¿La víctima realiza o realizaba trabajos relacionados con periodismo?: </label>
                                    <select name="trabajo_de_periodismo" class="form-control border-input">
	                                    <option value="98">Seleccione</option>
	                                    <option value="1" <check if="{{ @info->trabajo_de_periodismo == 1 }}">selected</check>>Si</option>
	                                    <option value="2" <check if="{{ @info->trabajo_de_periodismo == 2 }}">selected</check>>No</option>
                                      <option value="99"  <check if="{{ @info->trabajo_de_periodismo == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> 19.- ¿La víctima pertenecía o colaboraba con alguna organización relacionada con la visibilización y defensa de los derechos de la comunidad LGBTI?: </label>
                                    <select name="pertenece_a_organizacion" class="form-control border-input">
	                                    <option value="98">Seleccione</option>
	                                    <option value="1" <check if="{{ @info->pertenece_a_organizacion == 1 }}">selected</check>>Si</option>
	                                    <option value="2" <check if="{{ @info->pertenece_a_organizacion == 2 }}">selected</check>>No</option>
                                      <option value="99"  <check if="{{ @info->pertenece_a_organizacion == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> 20.- ¿La víctima estaba relacionada laboralmente con algún espacio de convivencia dirigido a la comunidad LGBTI (antro, bar, sauna, club de encuentros, etc.)?: </label>
                                    <select name="espacio_lgbt" class="form-control border-input">
                                      <option value="98">Seleccione</option>
                                      <option value="1" <check if="{{ @info->espacio_lgbt == 1 }}">selected</check>>Si</option>
                                      <option value="2" <check if="{{ @info->espacio_lgbt == 2 }}">selected</check>>No</option>
                                      <option value="99"<check if="{{ @info->espacio_lgbt == 99 }}">selected</check>>No fue posible identificarlo</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                	</div><!-- content-->
              	</div>
                <!-- TAB DEMOGRAFICOS -->
				<!-- TAB DE HECHO -->
				<div class="tab-pane" id="hecho" role="tabpanel" aria-labelledby="seguimiento-tab">
                	<div class="content">
	                	<div class="row">
                        	<div class="col-md-6">
                            	<div class="form-group">
                                	<label> 21.- ¿Localidad dónde sucedió el hecho?: </label>
	                                <select name="localidad_hecho" id="localidad_hecho" class="form-control border-input">
	                                  <option value="98">Seleccione</option>
	                                  <repeat group="{{ @estadosHecho }}" value="{{ @estado }}">
	                                        <option value="{{ trim(@estado.idestado) }}" <check if="{{ @info->localidad_hecho == @estado.idestado }}">selected</check>>
																				{{ trim(@estado.estado) }}
																		</option>
	                                  </repeat>
	                                  <option value="99">No fue posible identificarlo</option>
	                                </select>
                            	</div>
                        	</div>
							<div class="col-md-6">
                            	<div class="form-group">
                                	<label> 21a .- Municipio: </label>
									<input type="text" name="municipio_hecho" class="form-control border-input limpiarCampo"
										maxlength="249" value="{{@info->municipio_hecho}}" readonly="">
                            	</div>
                        	</div>
	                	</div>
	                	<div class="row">
	                        <div class="col-md-3">
	                            <div class="form-group">
	                                <label> 22.- Tipo de crimen: </label>
	                                 <div class="form-check">
		                                  <input class="form-check-input" name="tipo_crimen" type="radio"  value="1" <check if="{{ @info->tipo_crimen == 1 }}">checked</check>>
		                                  <label class="form-check-label" for="exampleRadios2">Asesinato</label>
		                                  <br>
		                                  <input class="form-check-input" name="tipo_crimen" type="radio"  value="2" <check if="{{ @info->tipo_crimen == 2 }}">checked</check>>
		                                  <label class="form-check-label" for="exampleRadios2">Desaparición</label>
	                                 </div>
	                            </div>
	                        </div>
	                        <div class="col-md-3">
                            	<div class="form-group">
                                	<label> 23 .- Relación de la víctima con el agresor: </label>
									 <select name="relacion_victima_agresor" id="relacion_victima_agresor" class="form-control border-input valida-otro">
	                                <option value="98">Seleccione</option>
	                                <option value="1" <check if="{{ @info->relacion_victima_agresor == 1 }}">selected</check>>Pareja</option>
	                                <option value="2" <check if="{{ @info->relacion_victima_agresor == 2 }}">selected</check>>Cliente</option>
	                                <option value="3" <check if="{{ @info->relacion_victima_agresor == 3 }}">selected</check>>Conocido</option>
	                                <option value="4" <check if="{{ @info->relacion_victima_agresor == 4 }}">selected</check>>Amistad</option>
	                                <option value="6" <check if="{{ @info->relacion_victima_agresor == 6 }}">selected</check>>Desconocidos</option>
	                                <option value="5" <check if="{{ @info->relacion_victima_agresor == 5 }}">selected</check>>Otro</option>
	                                <option value="99"<check if="{{ @info->relacion_victima_agresor == 99 }}">selected</check>>No fue posible identificarlo</option>
	                              </select>
                            	</div>
                        	</div>
                        	<div class="col-md-3">
                            	<div class="form-group">
                                	<label> 23a .- Otra relación: </label><br><br>
										<input type="text" name="otro_relacion_victima_agresor" class="form-control border-input limpiarCampo"
													maxlength="250" value="{{@otroInfo['victima_agresor']}}" readonly="">
                            	</div>
                        	</div>
                        	<div class="col-md-3">
	                            <div class="form-group">
	                              <label> 24.- ¿Se utilizó algún tipo de arma en el crimen?: </label>
	                              <div class="form-check">
	                                  <input class="form-check-input" name="utilizo_arma" type="radio"  value="1" <check if="{{ @info->utilizo_arma == 1 }}">checked</check>>
	                                  <label class="form-check-label" for="exampleRadios2">Si</label>
	                                  &nbsp;
	                                  <input class="form-check-input" name="utilizo_arma" type="radio"  value="2" <check if="{{ @info->utilizo_arma == 2 }}">checked</check>>
	                                  <label class="form-check-label" for="exampleRadios2">No</label>
	                              </div>
	                            </div>
	                        </div>
                        </div>
                         <div class="row">
	                        <div class="col-md-4">
	                            <div class="form-group">
	                                <label> 25.- Tipo de arma utilizada en el hecho: </label>
	                                <select name="tipo_arma[]" id="tipo_arma" class="form-control border-input valida-otro-multiple" multiple size="7">
	                                  <!--<option value="98">Seleccione</option>-->
	                                  <option value="1" {{in_array(1, @tipo_de_arma) ? 'selected' : '' }} >Arma de fuego</option>
	                                  <option value="2" {{in_array(2, @tipo_de_arma) ? 'selected' : '' }} >Arma punzo cortante</option>
	                                  <option value="3" {{in_array(3, @tipo_de_arma) ? 'selected' : '' }} >Lapidación</option>
	                                  <option value="4" {{in_array(4, @tipo_de_arma) ? 'selected' : '' }} >Objeto constrictor</option>
	                                  <option value="6" {{in_array(6, @tipo_de_arma) ? 'selected' : '' }} >Mecanismos asfixiante</option>
	                                  <option value="5" {{in_array(5, @tipo_de_arma) ? 'selected' : '' }} >Otro</option>
	                                  <option value="99"{{in_array(99, @tipo_de_arma) ? 'selected' : '' }} >No fue posible identificarlo</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="col-md-4">
                            	<div class="form-group">
                                	<label> 25a .- Otro tipo de arma: </label>
									 <input type="text" name="otro_tipo_arma" class="form-control border-input limpiarCampo"
																maxlength="250" value="{{@otroInfo['tipo_arma']}}" readonly="">
                            	</div>
                        	</div>
                        	<div class="col-md-4">
	                            <div class="form-group">
	                                <label> 26.- Causa de la muerte: </label>
	                                <select name="causa_muerte[]" id="causa_muerte" class="form-control border-input" multiple size="7">
		                               <!-- <option value="98">Seleccione</option>-->
		                                <option value="1" {{in_array(1, @causa_de_muerte) ? 'selected' : '' }} >Golpiza</option>
		                                <option value="2" {{in_array(2, @causa_de_muerte) ? 'selected' : '' }} >Impactos de bala</option>
		                                <option value="3" {{in_array(3, @causa_de_muerte) ? 'selected' : '' }} >Tortura</option>
		                                <option value="4" {{in_array(4, @causa_de_muerte) ? 'selected' : '' }} >Asfixia</option>
		                                <option value="6" {{in_array(6, @causa_de_muerte) ? 'selected' : '' }} >Arma blanca</option>
		                                <option value="7" {{in_array(7, @causa_de_muerte) ? 'selected' : '' }} >Violaciones/Agresiones Sexuales</option>
		                                <option value="8" {{in_array(8, @causa_de_muerte) ? 'selected' : '' }} >Atropellamiento</option>
		                                <option value="99"{{in_array(99, @causa_de_muerte) ? 'selected' : '' }} >No fue posible identificarlo</option>
		                            </select>
	                            </div>
	                        </div>
	                    </div>
                        <div class="row">
	                        
	                        <div class="col-md-6">
	                            <div class="form-group">
	                              <label> 27.- Presencia de violencia y/o agresiones sexuales: </label>
	                              <select name="presencia_agresiones" id="presencia_agresiones" class="form-control border-input">
	                                <option value="98">Seleccione</option>
	                                <option value="1" <check if="{{ @info->presencia_agresiones == 1 }}">selected</check> >Si</option>
	                                <option value="2" <check if="{{ @info->presencia_agresiones == 2 }}">selected</check> >No</option>
	                                <option value="99"<check if="{{ @info->presencia_agresiones == 99 }}">selected</check> >No fue posible identificarlo</option>
	                              </select>
	                            </div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="form-group">
	                              <label> 28.- Lugar donde sucedió el hecho: </label>
	                              <select name="lugar_sucedio_hecho" id="lugar_sucedio_hecho" class="form-control border-input valida-otro">
	                                <option value="98">Seleccione</option>
	                                <option value="1" <check if="{{ @info->lugar_sucedio_hecho == 1 }}">selected</check> >Casa de la víctima (donde vive)</option>
	                                <option value="2" <check if="{{ @info->lugar_sucedio_hecho == 2 }}">selected</check> >Casa de algún conocido o familiar</option>
	                                <option value="3" <check if="{{ @info->lugar_sucedio_hecho == 3 }}">selected</check> >Calle</option>
	                                <option value="4" <check if="{{ @info->lugar_sucedio_hecho == 4 }}">selected</check> >Lugar de trabajo</option>
	                                <option value="8" <check if="{{ @info->lugar_sucedio_hecho == 8 }}">selected</check> >Antro/bar</option>
	                                <option value="6" <check if="{{ @info->lugar_sucedio_hecho == 6 }}">selected</check> >Hotel </option>
	                                <option value="7" <check if="{{ @info->lugar_sucedio_hecho == 7 }}">selected</check> >Lugar de encuentros</option>
	                                <option value="5" <check if="{{ @info->lugar_sucedio_hecho == 5 }}">selected</check> >Otro</option>
	                                <option value="99">No fue posible identificarlo</option>
	                              </select>
	                            </div>
	                        </div>

	                    </div>
                        <div class="row">
	                        <div class="col-md-6">
                            	<div class="form-group">
                                	<label> 28a .- Otro lugar dónde sucedió el hecho: </label>
									    <input type="text" name="otro_lugar_sucedio_hecho" class="form-control border-input limpiarCampo"
																maxlength="250" value="{{@otroInfo['lugar_sucedio_hecho']}}" readonly="">
                            	</div>
                        	</div>
                        	<div class="col-md-6">
	                            <div class="form-group">
	                                <label> 29.- ¿La víctima estaba sola o acompañada? </label>
	                                <select name="victima_acompanada" class="form-control border-input">
	                                  <option value="98">Seleccione</option>
	                                  <option value="1" <check if="{{ @info->victima_acompanada == 1 }}">selected</check> >Sola</option>
	                                  <option value="2" <check if="{{ @info->victima_acompanada == 2 }}">selected</check> >Acompañada</option>
	                                  <option value="99"<check if="{{ @info->victima_acompanada == 99 }}">selected</check> >No fue posible identificarlo</option>
	                                </select>
	                            </div>
	                        </div>

	                     </div>
                        <div class="row">
	                        <div class="col-md-6">
		                        <div class="form-group">
		                            <label> 30 .- ¿En dónde fue hallada la persona o el cuerpo? : </label>
		                            <select name="lugar_cuerpo_hallado" id="lugar_cuerpo_hallado" class="form-control border-input valida-otro">
	                                  <option value="98">Seleccione</option>
	                                  <option value="1" <check if="{{ @info->lugar_cuerpo_hallado == 1 }}">selected</check> >Terreno baldío</option>
	                                  <option value="2" <check if="{{ @info->lugar_cuerpo_hallado == 2 }}">selected</check> >Su casa</option>
	                                  <option value="3" <check if="{{ @info->lugar_cuerpo_hallado == 3 }}">selected</check> >Su trabajo</option>
	                                  <option value="4" <check if="{{ @info->lugar_cuerpo_hallado == 4 }}">selected</check> >Hotel </option>
	                                  <option value="7" <check if="{{ @info->lugar_cuerpo_hallado == 7 }}">selected</check> >Bar</option>
	                                  <option value="6" <check if="{{ @info->lugar_cuerpo_hallado == 6 }}">selected</check> >Calle</option>
	                                  <option value="5" <check if="{{ @info->lugar_cuerpo_hallado == 5 }}">selected</check> >Otro</option>
	                                  <option value="99"<check if="{{ @info->lugar_cuerpo_hallado == 99 }}">selected</check> >No fue posible identificarlo</option>
	                                </select>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
                            	<div class="form-group">
                                	<label> 30a .- Otro lugar dónde hallaron la persona o al cuerpo : </label>
									<input type="text" name="otro_lugar_cuerpo_hallado" class="form-control border-input limpiarCampo"
														maxlength="250" value="{{@otroInfo['lugar_cuerpo_hallado']}}" readonly="">
                            	</div>
                        	</div>
                    	</div>
                	</div><!-- content-->
                </div>
                <!-- FIN TAB DE HECHO -->
                <!-- TAB DE CONSECUENCIA -->
                <div class="tab-pane" id="seguimiento" role="tabpanel" aria-labelledby="consecuencia-tab">
                	<div class="content">
	                	<div class="row">
		                	<div class="col-md-6">
	                            <div class="form-group">
	                                <label> 31.- ¿Quién halló a la víctima?: </label>
	                                <select name="quien_hallo_victima" id="quien_hallo_victima" class="form-control border-input valida-otro">
	                                  <option value="98">Seleccione</option>
	                                  <option value="1" <check if="{{ @info->quien_hallo_victima == 1 }}">selected</check> >Madre/padre</option>
	                                  <option value="2" <check if="{{ @info->quien_hallo_victima == 2 }}">selected</check> >Familiar</option>
	                                  <option value="3" <check if="{{ @info->quien_hallo_victima == 3 }}">selected</check> >Amig@</option>
	                                  <option value="4" <check if="{{ @info->quien_hallo_victima == 4 }}">selected</check> >Novi@</option>
	                                  <option value="9" <check if="{{ @info->quien_hallo_victima == 9 }}">selected</check> >Espos@</option>
	                                  <option value="6" <check if="{{ @info->quien_hallo_victima == 6 }}">selected</check> >Vecin@</option>
	                                  <option value="7" <check if="{{ @info->quien_hallo_victima == 7 }}">selected</check> >Desconocido</option>
	                                  <option value="8" <check if="{{ @info->quien_hallo_victima == 8 }}">selected</check> >Cuerpo policial </option>
	                                  <option value="5" <check if="{{ @info->quien_hallo_victima == 5 }}">selected</check> >Otro</option>
	                                  <option value="99"<check if="{{ @info->quien_hallo_victima == 99 }}">selected</check> >No fue posible identificarlo</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="form-group">
	                              <label> 31a.- Otro, quién halló a la víctima: </label>
	                              <input type="text" name="otro_quien_hallo_victima" class="form-control border-input limpiarCampo"
													maxlength="250" value="{{@otroInfo['quien_hallo_victima']}}" readonly="">
	                            </div>
                        	</div>
	                    </div>
						<div class="row">
							<div class="col-md-6">
									<div class="form-group">
											<label> 32.- ¿Se interpuso denuncia formal?: </label>
												<select name="interpuso_denuncia" id="interpuso_denuncia" class="form-control border-input">
													<option value="98">Seleccione</option>
													<option value="1"  <check if="{{ @info->interpuso_denuncia == 1 }}">selected</check> >Si</option>
													<option value="2"  <check if="{{ @info->interpuso_denuncia == 2 }}">selected</check> >No</option>
													<option value="3"  <check if="{{ @info->interpuso_denuncia == 3 }}">selected</check> >Están en ese trámite</option>
													<option value="99" <check if="{{ @info->interpuso_denuncia == 99 }}">selected</check> >No fue posible identificarlo</option>
											</select>
									</div>
							</div>
							<div class="col-md-6">
									<div class="form-group">
											<label> 33.- ¿Quién interpuso la denuncia formal?: </label>
											<select name="quien_interpuso_denuncia" id="quien_interpuso_denuncia" class="form-control border-input">
												<option value="98">Seleccione</option>
												<option value="1" <check if="{{ @info->quien_interpuso_denuncia == 1 }}">selected</check> >Madre/padre de la víctima</option>
												<option value="2" <check if="{{ @info->quien_interpuso_denuncia == 2 }}">selected</check> >Familiar de la víctima</option>
												<option value="3" <check if="{{ @info->quien_interpuso_denuncia == 3 }}">selected</check> >Amig@ de la víctima</option>
												<option value="4" <check if="{{ @info->quien_interpuso_denuncia == 4 }}">selected</check> >Novi@ de la víctima</option>
												<option value="6" <check if="{{ @info->quien_interpuso_denuncia == 6 }}">selected</check> >Espos@ de la víctima</option>
												<option value="7" <check if="{{ @info->quien_interpuso_denuncia == 7 }}">selected</check> >Vecin@ de la víctima</option>
													<option value="8" <check if="{{ @info->quien_interpuso_denuncia == 8 }}">selected</check> >Desconocido</option>
												<option value="99"><check if="{{ @info->quien_interpuso_denuncia == 99 }}">selected</check> No fue posible identificarlo</option>
											</select>
									</div>
							</div>
					</div>
	                	<div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                              <label> 34.- Número de investigación (averiguación previa o carpeta de investigación: </label>
	                              <input type="text" name="numero_denuncia" class="form-control border-input limpiarCampo"
											maxlength="30" pattern="^[a-zA-Z0-9-\/]+$" value="{{@info->numero_denuncia}}">
	                            </div>
                        	</div>
                        	<div class="col-md-6">
                            	<div class="form-group">
                                	<label> 35.- ¿Hay alguna persona detenida?: </label>
																		<div class="form-check">
	                                    <input class="form-check-input" name="persona_detenida" type="radio"  value="1" <check if="{{ @info->persona_detenida == 1 }}">checked</check> >
	                                    <label class="form-check-label" for="exampleRadios2">Si</label>
	                                    &nbsp;
	                                    <input class="form-check-input" name="persona_detenida" type="radio"  value="2" <check if="{{ @info->persona_detenida == 2 }}">checked</check> >
	                                    <label class="form-check-label" for="exampleRadios2">No</label>
                                	</div>
                            	</div>
                        	</div>
                        </div>
	                	<div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label> 36.- ¿Cuál es la situación del caso, en el marco de la denuncia formal?: </label>
	                                <select name="situacion_del_caso" class="form-control border-input">
		                                  <option value="98">Seleccione</option>
		                                  <option value="1" <check if="{{ @info->situacion_del_caso == 1 }}">selected</check> >En proceso</option>
		                                  <option value="2" <check if="{{ @info->situacion_del_caso == 2 }}">selected</check> >Abandonado</option>
		                                  <option value="3" <check if="{{ @info->situacion_del_caso == 3 }}">selected</check> >Concluido</option>
		                                  <option value="99"<check if="{{ @info->situacion_del_caso == 99 }}">selected</check> >No fue posible identificarlo</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label> 37.- ¿Cuál fue el resultado del proceso?: </label>
	                                <select name="resultado_proceso" class="form-control border-input">
	                                  <option value="98">Seleccione</option>
	                                  <option value="1" <check if="{{ @info->resultado_proceso == 1 }}">selected</check> >Existió una resolución a favor de la víctima</option>
	                                  <option value="2" <check if="{{ @info->resultado_proceso == 2 }}">selected</check> >Existió una resolución desfavorable para la víctima </option>
	                                  <option value="3" <check if="{{ @info->resultado_proceso == 3 }}">selected</check> >Se identificó que no existían suficiente pruebas para emitir una resolución</option>
	                                  <option value="4" <check if="{{ @info->resultado_proceso == 4 }}">selected</check> >El caso se clasificó como cerrado por la autoridad</option>
	                                  <option value="6" <check if="{{ @info->resultado_proceso == 6 }}">selected</check> >El caso no procedió </option>
	                                  <option value="99"<check if="{{ @info->resultado_proceso == 99 }}">selected</check> >No fue posible identificarlo</option>
	                                </select>
	                            </div>
	                        </div>
	                    </div>
						<div class="row">
	                        <div class="col-md-6">
	                            <div class="form-group">
	                                <label> 38.- ¿Por qué decidió la víctima abandonar el proceso?: </label>
	                                <select name="abandono_proceso" class="form-control border-input">
	                                  <option value="98">Seleccione</option>
	                                  <option value="1" <check if="{{ @info->abandono_proceso == 1 }}">selected</check> >La víctima fue discriminada</option>
	                                  <option value="2" <check if="{{ @info->abandono_proceso == 2 }}">selected</check> >El proceso era complicado</option>
	                                  <option value="3" <check if="{{ @info->abandono_proceso == 3 }}">selected</check> >El proceso duraba demasiado tiempo</option>
	                                  <option value="4" <check if="{{ @info->abandono_proceso == 4 }}">selected</check> >La víctima no tenía recursos económicos / el proceso era muy costoso</option>
	                                  <option value="6" <check if="{{ @info->abandono_proceso == 6 }}">selected</check> >La víctima no fue apoya de manera legal por el Estado </option>
	                                  <option value="7" <check if="{{ @info->abandono_proceso == 7 }}">selected</check> >El caso se clasificó como cerrado por la autoridad</option>
	                                  <option value="8" <check if="{{ @info->abandono_proceso == 8 }}">selected</check> >La víctima prefirió cerrar el caso </option>
																		<option value="9" <check if="{{ @info->abandono_proceso == 9 }}">selected</check> >Amenazas </option>
	                                  <option value="10" <check if="{{ @info->abandono_proceso == 10 }}">selected</check> >El caso no procedió </option>
	                                </select>
	                            </div>
	                        </div>
							<div class="col-md-6">
                            	<div class="form-group">
									<label> 39.	¿La noticia de la agresión apareció en algún medio de comunicación?: </label>
									<div class="form-check">
		                                <input class="form-check-input" name="medio_comunicacion" type="radio"  value="1" <check if="{{ @info->medio_comunicacion == 1 }}">checked</check> >
		                                <label class="form-check-label" for="exampleRadios2">Si</label>
		                                &nbsp; &nbsp; &nbsp;
		                                <input class="form-check-input" name="medio_comunicacion" type="radio"  value="2" <check if="{{ @info->medio_comunicacion == 2 }}">checked</check> >
		                                <label class="form-check-label" for="exampleRadios2">No</label>
                                	</div>
                            	</div>
                        	</div>
                        </div>
						<div class="row">
							<div class="col-md-6">
                            	<div class="form-group">
									<label> 40.- Anote la información referente a la nota: </label>
									<textarea class="form-control border-input limpiarCampo" rows="4" cols="55" name="nota_sobre_medio_comunicacion">{{@info->nota_sobre_medio_comunicacion}}</textarea>
	                                <!-- archivo_medio_comunicacion-->
                            	</div>
                        	</div>
                        	<div class="col-md-6">
                            	<div class="form-group">
									<label> 40a.- Comentario sobre la nota: </label>
	                                <textarea class="form-control border-input limpiarCampo" rows="4" cols="55" name="comentario_medio_comunicacion">{{@info->comentario_medio_comunicacion}}</textarea>
	                                <!-- archivo_medio_comunicacion-->
                            	</div>
                        	</div>
                        </div>
						<div class="row">
							<div class="col-md-6">
                	<div class="form-group">
                    	<label> 40b.- Imagen de la noticias: </label>
                    	<div id="div-input">
                      		<span class="archivo_comunicacion">
													  <!-- {{@info->nombre_archivo_comunicacion}}-->
                          		<input type="file" name="archivo_comunicacion" id="archivo_comunicacion" value="" style="display: none;">
													</span>
                          <label class="nomArchivoUpload" for="archivo_comunicacion"> <i class="ti-upload"></i> &nbsp; Adjuntar archivo</label>
                    	</div>
											<div id="div-download-archivo">
												  <a href="#" id="descargaArchivo" name="{{@info->nombre_archivo_comunicacion}}">
															<img src="assets/img/icono-descarga.png" alt="Generar excel" width="55px" height="50px" id="btnExport"> Descargar archivo
													</a>
													&nbsp; <span class="cerrarArchivo"><img src="assets/img/cerrar.jpg" alt="cerrar" width="20px" height="20px" ></span>
											</div>
                      <input type="hidden" name="nombre_archivo_comunicacion" id="nombre_archivo_comunicacion" value="{{@info->nombre_archivo_comunicacion}}">
                        <!-- archivo_medio_comunicacion-->
                	</div>
              </div>
							<div class="col-md-6">
                            	<div class="form-group">
									<label> 41.- ¿Considera que la nota trató adecuadamente el caso? : </label>
									<div class="form-check">
		                                <input class="form-check-input" name="trato_adecuado" type="radio"  value="1" <check if="{{ @info->trato_adecuado == 1 }}">checked</check>>
		                                <label class="form-check-label" for="exampleRadios2">Si</label>
		                                &nbsp; &nbsp; &nbsp;
		                                <input class="form-check-input" name="trato_adecuado" type="radio"  value="2" <check if="{{ @info->trato_adecuado == 2 }}">checked</check>>
		                                <label class="form-check-label" for="exampleRadios2">No</label>
                                	</div>
                            	</div>
                        	</div>
                        </div>
						<div class="row">
							<div class="col-md-6">
                            	<div class="form-group">
									<label> 41a.- ¿Por qué?: </label>
	                                <input type="text" class="form-control border-input limpiarCampo" placeholder="" name="porque_se_trato_adecuadamente"
	                                							maxlength="250" value="{{@info->comentario_medio_comunicacion}}">
	                                <!-- archivo_medio_comunicacion-->
                            	</div>
                        	</div>
							<div class="col-md-6">
                            	<div class="form-group">
									<label> 42.- Debido a que la noticia de la agresión no apareció en algún medio de comunicación, ¿Cómo se divulgó la noticia?: </label>
									<select name="divulgacion_noticia" class="form-control border-input">
		                                <option value="98">Seleccione</option>
		                                <option value="1" <check if="{{ @info->divulgacion_noticia == 1 }}">selected</check>>Confesión o declaración del agresor</option>
		                                <option value="2" <check if="{{ @info->divulgacion_noticia == 2 }}">selected</check>>Redes Sociales</option>
		                                <option value="3" <check if="{{ @info->divulgacion_noticia == 3 }}">selected</check>>Información de calle/ comunicación vecinal</option>
																		<option value="4" <check if="{{ @info->divulgacion_noticia == 4 }}">selected</check>>Comunicación de activistas</option>
		                                <option value="99" <check if="{{ @info->divulgacion_noticia == 99 }}">selected</check>>No fue posible identificarlo</option>
	                                </select>
                            	</div>
                        	</div>
                    	</div>
                	</div><!-- content-->
              	</div>
                <!-- FIN TAB DE CONSECUENCIA -->
          	</div>
	        <div class="text-center">
		          <input type="hidden" name="idCuestionario" id="idCuestionario" value="{{@info.idcuestionario}}"/>
		          <input type="hidden" name="usuario" value="{{@idUsuario}}"/>
	              <button type="submit" id="guardarCuestionario" class="btn btn-info btn-fill btn-wd">Guardar</button>
	        </div>
			<div class="clearfix"></div>
		</div>
	</form>
</div>
<!--  CONTROLES JS     -->
<script src="{{@BASE}}/assets/js/cuestionario.js"></script>
