<div class="card">
  <div class="header">
      <h4 class="title">Ficha para alta de eventos</h4>
  </div>
  <div class="content">
    <form action="{{ @BASE.'/guardarEvento' }}" method="POST" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Título: </label>
            <input type="text" name="tituloEvento" class="form-control border-input" required>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Fecha de publicación: </label>
            <input type="text" name="fechapublicacion" id="fechaEventoPublicacion" class="form-control border-input input_bonito_disabled" readonly />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Fecha del evento: </label>
            <input type="text" name="fechaEvento" id="fechaEvento" class="form-control border-input input_bonito_disabled" readonly />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Descripción del evento: </label>
            <textarea name="descripcion_evento" maxlength="250" class="form-control border-input" onkeyup="contador_letras(this)" rows="5" cols="50" required></textarea>
            Caracteres restantes: <span class="contador_letras">250</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Estado: </label>
            <check if="{{ @perfilUsuario==1 }}">
              <true>
                <select name="estado" class="form-control border-input">
                  <repeat group="{{ @name_estado }}" value="{{ @estado }}">
                    <option value="{{ trim(@estado->idestado) }}">{{ trim(@estado->estado) }}</option>>
                  </repeat>
                </select>
              </true>
              <false>
                <input type="hidden" name="estado" value="{{ @name_estado[0]['idestado'] }}">
                <input type="text" value="{{ @name_estado[0]['estado'] }}" class="form-control border-input" readonly>
              </false>
            </check>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" id="guardarevento" class="btn btn-info btn-fill btn-wd">Guardar Evento</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $("#fechaEvento").pikaday({
    format: "Y-MM-D HH:mm",
    firstDay: 1,
    showTime: true,
    minutesStep: 10,
    minDate: new Date(),
    i18n: {
        previousMonth : 'Anterior',
        nextMonth     : 'Siguiente',
        months        : ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
        weekdays      : ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
        weekdaysShort : ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb']
    },
    onClose: function (){
      if($("#fechaEventoPublicacion").val() != "" && $("#fechaEvento").val() != ""){
        fechaEvento = new Date(this.toString()).getTime()
        fechaEventoPublicacion = new Date($("#fechaEventoPublicacion").val()).getTime();
        console.log("evento -> fechaEvento",fechaEventoPublicacion,fechaEvento);
        if(fechaEventoPublicacion > fechaEvento){
          //alert("La fecha de publicación no debe ser mayor a la fecha de evento");
          login.showNotification("top","left","La fecha de publicación no debe ser mayor a la fecha de evento","warning");
          $("#fechaEvento").val("");
          $("#fechaEventoPublicacion").val("");
        }
      }
    }
  });

  $("#fechaEventoPublicacion").pikaday({
    format: "Y-MM-D HH:mm",
    firstDay: 1,
    showTime: true,
    minutesStep: 10,
    minDate: new Date(),
    i18n: {
        previousMonth : 'Anterior',
        nextMonth     : 'Siguiente',
        months        : ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
        weekdays      : ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
        weekdaysShort : ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb']
    },
    onClose: function (){
      if($("#fechaEventoPublicacion").val() != "" && $("#fechaEvento").val() != ""){
        fechaEventoPublicacion = new Date(this.toString()).getTime()
        fechaEvento = new Date($("#fechaEvento").val()).getTime();
        console.log("evento -> fechaEventoPublicacion",fechaEventoPublicacion,fechaEvento);
        if(fechaEventoPublicacion > fechaEvento){
          //alert("La fecha de publicación no debe ser mayor a la fecha de evento");
          login.showNotification("top","left","La fecha de publicación no debe ser mayor a la fecha de evento","warning");
          $("#fechaEvento").val("");
          $("#fechaEventoPublicacion").val("");
        }
      }
    }
  });

  function contador_letras(v){
    value = (250 - v.value.length);
    //console.log(value);
    if(value <= 15){
      $(".contador_letras").css({"color":"red"});
    } else {
      $(".contador_letras").css({"color":"black"});
    }
    $(".contador_letras").text(value);
  }
</script>
