<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="{{ @BASE.'/admin' }}">Inicio</a>
							</li>
						</ul>
					</nav>
					<div class="copyright pull-right">
						&copy; <script>document.write(new Date().getFullYear())</script>, 
						Observatorio Nacional de cr&iacute;menes de odio contra personas LGBT / MX.
					</div>
				</div>
			</footer>
			</div>
		</div>
	</body>
</html>
