<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	  <meta name="viewport" content="width=device-width" />
	  <!-- Bootstrap core CSS     -->
	  <link href="{{@BASE}}/assets/css/bootstrap.min.css" rel="stylesheet" />
	  <!--  Fonts and icons     -->
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	  <link href="{{@BASE}}/assets/css/themify-icons.css" rel="stylesheet">
	  <!--  Data table css    -->
	  <link href="{{@BASE}}/assets/css/dataTables.bootstrap.css" rel="stylesheet"/>
	  <!-- Animation library for notifications   -->
	  <link href="{{@BASE}}/assets/css/animate.min.css" rel="stylesheet"/>
	  <!--  Paper Dashboard core CSS    -->
	  <link href="{{@BASE}}/assets/css/paper-dashboard.css" rel="stylesheet"/>
	  <!--  CSS for Demo Purpose, don't include it in your project     -->
	  <!--<link href="assets/css/demo.css" rel="stylesheet" />-->
	  <!-- CSS para calendario -->
	  <link href="{{@BASE}}/assets/css/triangle.css" rel="stylesheet" />
	  <link href="{{@BASE}}/assets/css/pikaday.css" rel="stylesheet" />
	  <link href="{{@BASE}}/assets/css/style.css" rel="stylesheet">
	  <!--   Core JS Files   -->
	<script src="{{@BASE}}/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="{{@BASE}}/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!--  Checkbox, Radio & Switch Plugins -->
	<!--<script src="{{@BASE}}/assets/js/bootstrap-checkbox-radio.js"></script>-->
	<!--  Notifications Plugin    -->
	<script src="{{@BASE}}/assets/js/bootstrap-notify.js"></script>
	<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{{@BASE}}/assets/js/paper-dashboard.js"></script> <!-- menu responsivo -->
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="{{@BASE}}/assets/js/demo.js"></script>
	<script src="{{@BASE}}/assets/js/logOut.js"></script>
	<!-- Plugin calendario -->
	<script src="{{@BASE}}/assets/js/moment.js"></script>
	<script src="{{@BASE}}/assets/js/pikaday.js"></script>
	<script src="{{@BASE}}/assets/js/pikaday.jquery.js"></script>
	<script src="{{@BASE}}/assets/js/validate.min.js"></script>
	<!-- Plugin dataTable -->
	<script src="{{@BASE}}/assets/js/jquery.dataTables.js"></script>
	<script src="{{@BASE}}/assets/js/dataTables.bootstrap.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="sidebar" data-background-color="white" data-active-color="danger">
				<!--
				Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
				Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
				-->
				<div class="sidebar-wrapper">
					<div class="logo">
						<!-- isotipo_arcoiris -->
						<a href="http://fundacionarcoiris.org.mx" class="simple-text">
							<img src="{{@BASE}}/assets/img/LogoObservatorio.png" alt="Fundación Arcoiris" width="77px" height="70px"><br>
							<!--{{ @site }}-->
						</a>
					</div>
					<include href="{{ @nav }}" />
				</div>
			</div>
		<div class="main-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar bar1"></span>
							<span class="icon-bar bar2"></span>
							<span class="icon-bar bar3"></span>
						</button>
						<!--<h4 class="navbar-brand"><a href="{{ @BASE.'/admin' }}">Inicio</a></h4>-->
						<h4>&nbsp;Sistema de registro de observatorios</h4>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="ti-user"></i>
									<p>{{@nombreUsuario}}</p>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
			  					<li><a href="{{@BASE.'/modificarperfil'}}">Modificar perfil</a></li>
									<li><a href="{{@BASE.'/logout'}}">Salir</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
