<div class="col-md-12">
    <div class="card">
        <div class="header2">
	        <div class="float-izq">
	            <h4 class="title">Listado de Eventos</h4>
	        </div>
	        <div class="float-der">
            	<a class="btn btn-info btn-fill btn-wd2" href="{{@BASE .'/nuevoEvento'}}">
            		<div class="">
                        <span class="ti-pencil"></span> Nuevo
                    </div>
            	</a>
	        </div>
        </div>
        <div class="content table-responsive">
        	<table id="listNoticias" class="table table-striped" data-page-length='25' style="width:100%">
		        <thead>
		            <tr>
		                <th>Titulo</th>
                    <th>Fecha publicación</th>
		                <th>Fecha evento</th>
                    <th>Acciones</th>
		            </tr>
		        </thead>
				<tbody>
          <repeat group="{{ @listaEvento }}" value="{{ @row }}">
	        	<tr>
                <td>{{ @row.titulo }}</td>
                <td>{{ @formateaFecha(@row.fecha_publicacion) }}</td>
                <td>{{ @formateaFecha(@row.fecha_evento) }}</td>
                <td style="padding: 1em 0;">
                  <form action="{{@BASE.'/editaEvento'}}" method="post" style="display: inline-block;">
                    <button class="btn btn-primary btnEditEvento" value="{{@row.idevento}}" name="btnAccionEdit">
                      <i class="fa fa-edit"></i>
                    </button>
                  </form>
		                <button role="button" class="btn btn-danger btnEraseEvento" role="button" data-valueerase="{{@row.idevento}}">
		                  <i class="ti-trash"></i>
		                </button>
		            </td>
	        	</tr>
		      </repeat>
      	</tbody>
    	</table>
    </div>
  </div>
</div>
<script src="{{@BASE}}/assets/js/noticiasEventos.js"></script>
