<div class="col-md-12">
    <div class="card">
        <div class="header2">
	        <div class="float-izq">
	            <h4 class="title">Listado de Cuestionarios</h4>
	            <!--<p class="category">Agresiones</p>-->
	        </div>
          <div></div>
	        <div class="float-der">
                <span>
		              <a href="{{@BASE .'/excelCuestionario/' }}" id="anioFiltro">
		                <img src="{{@BASE}}/assets/img/excel-circle.ico" alt="Generar excel" width="55px" height="50px" id="btnExport">
		              </a>
                </span>
                <span>
		            	<a class="btn btn-info btn-fill btn-wd2" href="{{@BASE .'/nuevoCuestionario'}}">
		            	    <div class=""><span class="ti-pencil"></span> Nuevo</div>
		            	</a>
                </span>
	        </div>
        </div>
        <div class="content table-responsive"> <!-- <table class="table table-striped">-->
        	<table id="listCuestionario" class="table table-striped" data-page-length='25' style="width:100%">
		        <thead>
		            <tr>
		                <th>Folio</th>
		                <th>Estado</th>
		                <th>Situación del caso</th>
		                <th>Averiguación</th>
		                <th>Acciones</th>
		            </tr>
		        </thead>
				<tbody>
			        <repeat group="{{ @listaCuestionario }}" value="{{ @rows }}">
			        	<tr>
			                <td>{{ @formateaFolio(1,@rows.idcuestionario) }}</td>
			                <td>{{ @nombreEstado(@rows.localidad_hecho) }}</td>
			                <td>{{ @estatus(@rows.situacion_del_caso) }}</td>
			                <td>{{ @numDenuncia(@rows.numero_denuncia) }}</td>
			                <!--<td>{{ trim(@rows.numero_denuncia) }}</td>-->
			                <td style="padding: .5em;">
				                <!--onclick="window.location.href='{{@BASE}}/editaCuestionario'"-->
				                <form method="post" action="{{@BASE.'/editaCuestionario'}}" class="" style="display: inline-block;">
					                <input type="hidden" name="idCuestionario" value="{{@rows.idcuestionario}}">
					                <button type="submit" class="btn btn-primary" role="button" >
					                  <i class="fa fa-edit"></i>
					                </button>
				                </form>
				                <!--<form method="post" action="{{@BASE .'/eliminaCuestionario' }}" class="eliminarCuestionario" style="display: inline-block;">-->
					                <input type="hidden" name="folioCuestionario" value="{{@rows.idcuestionario}}">
					                <button type="button" role="button" class="btn btn-danger eliminaRegistro" id="{{@rows.idcuestionario}}">
					                       <i class="ti-trash"></i>
					                </button>
				                <!--</form>-->
				            </td>
			        	</tr>
			        </repeat>
        		</tbody>
    		</table>
        </div>
    </div>
</div>
<script src="{{@BASE}}/assets/js/cuestionario.js"></script>
