<div class="col-md-12">
    <div class="card">
        <div class="header2">
	        <div class="float-izq">
	            <h4 class="title">Listado de Noticias</h4>
	            <!--<p class="category">Agresiones</p>-->
	        </div>
	        <div class="float-der">
            	<a class="btn btn-info btn-fill btn-wd2" href="{{@BASE .'/nuevaNoticia'}}">
            		<div class="">
                        <span class="ti-pencil"></span> Nuevo
                    </div>
            	</a>
	        </div>
        </div>
        <div class="content table-responsive"> <!-- <table class="table table-striped">-->
        	<table id="listNoticias" class="table table-striped" data-page-length='25' style="width:100%">
		        <thead>
		            <tr>
		                <th>Estado</th>
		                <th>Titulo</th>
		                <th>Fecha publicación</th>
		                <th>Acciones</th>
		            </tr>
		        </thead>
				<tbody>
			        <repeat group="{{ @listaNoticia }}" value="{{ @rows }}">
			        	<tr>
			                <td>{{ @nombreEstado(@rows.idestado_fk) }}</td>
			                <td>{{ @rows.titulo }}</td>
			                <td>{{ date("d-m-Y", strtotime(@rows.fecha_publicacion)) }}</td>
			                <td style="padding: .5em;">
				                <form method="post" action="{{@BASE.'/editaNoticia'}}" class="" style="display: inline-block;">
					                <input type="hidden" name="idNoticia" value="{{@rows.idnoticia}}">
					                <button type="submit" class="btn btn-primary" role="button" >
					                  <i class="fa fa-edit"></i>
					                </button>
				                </form>
				                <form method="post" action="{{@BASE .'/eliminaNoticia' }}" class="eliminarNoticia" style="display: inline-block;">
					                <input type="hidden" name="idNoticia" value="{{@rows.idnoticia}}">
					                <button type="button" role="button" class="btn btn-danger eliminaRegistro" id="{{@rows.idnoticia}}">
					                       <i class="ti-trash"></i>
					                </button>
				                </form>
				            </td>
			        	</tr>
			        </repeat>
        		</tbody>
    		</table>
        </div>
    </div>
</div>
<script src="{{@BASE}}/assets/js/noticias.js"></script>
