<ul class="nav">
	<check if="{{ @SESSION.user['idperfil'] == 1 }}">
		<true>
			<li class="{{@seleccionadoU}}"> <!-- <li class="active"> -->
				<a href="{{ @BASE.'/usuario' }}">
					<i class="ti-user"></i>
					<p>Usuarios</p>
				</a>
			</li>
		</true>
	</check>
	<li class="{{@seleccionadoC}}">
		<a href="{{ @BASE.'/cuestionario/'}}">
			<i class="ti-book"></i>
			<p>Cuestionarios</p>
		</a>
	</li>
	<li class="{{@seleccionadoN}}">
		<a href="{{ @BASE.'/noticias' }}">
			<i class="ti-pie-chart"></i>
			<p>Noticias </p>
		</a>
	</li>
	<li class="{{@seleccionadoE}}">
		<a href="{{ @BASE.'/eventos' }}">
			<i class="ti-alarm-clock"></i>
			<p>Eventos</p>
		</a>
	</li>
</ul>
