<div class="card">
    	<div class="header">
        	<h4 class="title">Ficha para alta de noticias</h4>
    	</div>
		<div class="content">
                <!-- TAB DE NOTICIAS -->
                <div class="tab-pane active" id="personales" role="tabpanel" aria-labelledby="datos-tab">
	                <form id="noticia" action="{{ @BASE.'/guardarNoticia' }}" method="post" enctype="multipart/form-data" autocomplete="off">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                    <label> Título: </label>
                                    <input type="text" name="titulo" id="titulo" class="form-control border-input"  placeholder="Título noticia" value="{{@info->titulo}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                    <label> Fecha publicación: </label>
                                    <input type="text" name="fecha_publicacion" id="fecha_publicacion" class="form-control border-input fecha_cal" 
                                    	 value="{{@fechaPublicacion}}" placeholder="__ / __ / ____" value="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label> Estado: </label>
                                    <select name="estado" id="estado" class="form-control border-input" >
                                    	<option value="98">Seleccione</option>
                                        <repeat group="{{ @estados }}" value="{{ @estado }}">
                                            <option value="{{ trim(@estado.idestado) }}" <check if="{{ @info->idestado_fk == @estado.idestado ||  count(@estados) == 1}}">selected</check> >
                                            	{{ trim(@estado.estado) }}
                                            </option>
                                        </repeat>
                                    </select>    
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label> Descripción de la noticia: </label>
                                    <textarea  name="descripcion" id="descripcion" class="form-control border-input" rows="5" cols="50">{{ @info.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div><!-- content-->
                    <div class="text-center">
				          <input type="hidden" name="idNoticia" id="idNoticia" value="{{@info.idnoticia}}"/>
				          <input type="hidden" name="usuario" value="{{@idUsuario}}"/>
			              <button type="submit" id="guardarNoticia" class="btn btn-info btn-fill btn-wd">Guardar Noticia</button>
	        		</div>

                    </form>
                </div>
                <!-- TAB DE NOTICIAS -->

          	</div>
	        <div class="clearfix"></div>
		</div>

</div>
<!--  CONTROLES JS     -->
<script src="{{@BASE}}/assets/js/noticias.js"></script>
