<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Observatorio Nacional de cr&iacute;menes de odio contra personas LGBT</title> 
	<link rel="icon" type="text/css" href="assets/img/LogoObservatorio_32x32.png" sizes="32x32">
	<script>
		function limpiarcampos(){
			document.getElementById("nuevoUsuario").reset();
		}
	</script>
<body>
	<include href="{{ @header }}" />
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<include href="{{@content | raw}}" />
			</div>
		</div>
	</div>
	<include href="{{ @footer }}" />
	<script type="text/javascript" src="{{@BASE}}/assets/js/bootstrap-notify.js"></script>
	<script type="text/javascript" src="{{@BASE}}/assets/js/flash_message.js"></script>
	<script type="text/javascript" src="{{@BASE}}/assets/js/getUsr.js"></script>
	<check if="{{@show_message->render === true}}">
		<true>
			<script type="text/javascript">
						login.showNotification("top","left","{{@show_message->message}}","{{@show_message->type}}");
						//limpiarcampos();
			</script>
		</true>
	</check>
</body>
</html>
