
.highcharts-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    z-index: 0; /* #1072 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.highcharts-root text {
    stroke-width: 0;
}
.highcharts-background {
    fill: #3e3e40;
}
/*.highcharts-plot-border, .highcharts-plot-background {
    fill: none;
}*/
.highcharts-label-box {
    fill: #000000;
}

/* Titles */
.highcharts-title {
    fill: #E0E0E3;
    text-transform: uppercase;
    font-size: 20px;
}
.highcharts-subtitle {
    fill: #E0E0E3;
    text-transform: uppercase;
}

/* Axes */
.highcharts-axis-line {
    fill: none;
    stroke: #C0D0E0;
}
.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 0;
}
.highcharts-axis-title {
    fill: #707070;
}
.highcharts-axis-labels {
    fill: #E0E0E3;
    cursor: default;
    font-size: 0.9em;
}
.highcharts-grid-line {
    fill: none;
    stroke: #D8D8D8;
}
.highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 0;
}
.highcharts-tick {
    stroke: #C0D0E0;
}
.highcharts-yaxis .highcharts-tick {
    stroke-width: 0;
}
.highcharts-minor-grid-line {
    stroke: #e0e0e0;
}
.highcharts-crosshair-thin {
    stroke-width: 1px;
    stroke: #c0c0c0;
}
.highcharts-crosshair-category {
    stroke: rgba(155,200,255,0.2);
}



.highcharts-selection-marker {
    fill: #4572A7;
    fill-opacity: 0.25;
}

.highcharts-graph {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.highcharts-state-hover .highcharts-graph {
	stroke-width: 3;
}
.highcharts-state-hover path {
    transition: stroke-width 50; /* quick in */
}
.highcharts-state-normal path {
	transition: stroke-width 250ms; /* slow out */
}

/* Legend hover affects points and series */
g.highcharts-series, .highcharts-point {
    transition: opacity 250ms;
}
.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover) {
    opacity: 0.2;
}