/*------------------------------------------------------
SECCION PARA ADMIN
-------------------------------------------------------*/
.msgBienvenida{
	font-size: 4em;
	text-align:center;
	height: 450px;
	padding-top: 100px;
}


.ultimoIngreso{
	font-size: .3em;
}


/*------------------------------------------------------
ESTILOS PARA READONLY DE CUESTIONARIO
-------------------------------------------------------*/
#folio_ficha, .input_bonito_disabled{
	background-color: #fffcf5 !important;
}

/*------------------------------------------------------
ESTILOS PARA VALIDACIÒN DE CAMPOS
-------------------------------------------------------*/
/*input:valid, textarea:valid {
  background:green;
}*/
/*input:invalid, textarea:invalid {
  background:#FFAAAA;
  color:#fff
}*/

/*------------------------------------------------------
ESTILOS PARA RADIO /CHECK BUTTONS
-------------------------------------------------------*/
.form-check{
	padding-top: 0.5em;
	padding-left: 2em;
}

/*------------------------------------------------------
REESCRIBIMOS  Z-INDEX PARA FADE
-------------------------------------------------------*/
.modal-backdrop {
	    z-index:100;
}

.modal {
	    z-index:100;
}


.btn-wd2 {
    min-width: 110px;
}

.card .header2 {
    padding: 20px 20px 40px 20px;
}

.float-izq{
	float: left;
}

.float-der{
	float: right;
	width:30%;
	text-align: right;
}

/*  ESTILOS SECCION DE USUARIOS */
.modal-backdrop {
		/* bug fix - no overlay */
		display: none;
}
.estatus {
	color:white;
	padding: 0.4em .8em;
	border-radius: 8%;
}
.pendingStatus{
	background: rgba(255,191,0,0.6);
}
.activeStatus {
	background: rgba(8,138,8,0.5);
}

/*------------------------------------------------------
  AGREGAMOS ESTILO PAR INPUT FILE
-------------------------------------------------------*/
input[type=”file”]#archivo_comunicacion {
	 width: 0.1px;
	 height: 0.1px;
	 opacity: 0;
	 overflow: hidden;
	 position: absolute;
	 z-index: -1;
 }

 label[for="archivo_comunicacion"] {
	 font-size: 10px;
	 font-weight: 600;
	 color: #fff;
	 background-color: #68B3C8;
	 display: inline-block;
	 transition: all .5s;
	 cursor: pointer;
	 padding: 10px 30px !important;
	 width: fit-content;
	 text-align: center;
	  border-radius: 20px;
 }

 #div-input{ text-align: center;}

/********************Estilop para descarga de archivo */

#div-download-archivo{
	text-align: center;
}

.cerrarArchivo{
	cursor:  pointer;
}

/*------------------------------------------------------
  ESTILO PARA EL SELECT DEL EXCEL
-------------------------------------------------------*/
.form-control-select{
	width:32%;
	display:inline;
}
