
/*-------------------------------------------------
GLOBALS CLASSES
-------------------------------------------------*/
*{padding:0; margin:0;}
body{font-family: 'Rokkitt', serif; font-size:17px; background:#000;/*background:#e7e2cf; color:#858175;width: 75.5em;*/}
img{border:none;}
h1{ font-family: 'Rokkitt', cursive; font-size:24px; color:#446396; font-weight:normal;}
h2{ font-family: 'Rokkitt', serif; font-size:18px; color:#d65a3d; font-weight:normal;}
a{text-decoration:none; color:#385074;}
a:hover{color:#b34a30;}
/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.clear{clear:both;}
.floatLeft{float:left;}
.marRight40{ margin-right:40px;}
.marRight30{ margin-right:30px;}
.marTop{ margin-top:30px;}
.bg-bottom-none{background:none bottom !important;}
.page-wrap{ width:960px; overflow:hidden; margin:0 auto;}
.page{width:960px; overflow:hidden; margin:0 auto;}
.wrap{ overflow:hidden;}
.login-link { text-align:right; padding-top:5px; padding-right:3.3em}
.login-link a{ color:#ec7c26; font-size:20px; }
.login-link a:hover{ color:#d65a3d; font-size:20px; }
/*.box{ width:460px; float:left; margin-bottom:40px;}*/
.box{ width:27.2em; float:left; margin-bottom:40px;}
.button{ background:url(../img/button2.png) no-repeat; width:80px; height:30px; text-align:center; margin-top:20px;}
.button:hover{ background:url(../img/button-hover2.png) no-repeat;}
.button a{ line-height:30px; color:#ffffff; text-decoration:none;}
.button a:hover{ color:#ffffff;}
/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header-wrap{ /*width:960px;*/ margin:0px auto 5px auto;}
.logo{ margin:0 auto; width:94%; margin-top:4px; /*margin-bottom:10px;*/}
.logo h1{ font-size:3.1em; color:#e7e7e7; text-align:center;display:inline;float: right;padding-top: 0.5em;font-weight:bold;}
/*-------------------------------------------------
PANEL CLASSES
-------------------------------------------------*/

.panel{overflow:hidden; background: url(../img/bg3.jpg); padding:30px;}
.title{ margin-bottom:20px; margin-top:15px;}
.title h1{ font-family:'Roboto'; font-size:20px }
.content p{ padding-bottom:10px;}
.content img{margin-right:30px; float:left;}

/*-------------------------------------------------
MENU CLASSES
-------------------------------------------------*/
.menu-wrap{ height:auto; background:#000}
.menu{ margin:0 auto; width:29%; float:right}
.menu img{ float:left;}
/*.menu-mid{ float:left;background:url(../img/bg1.jpg) repeat-x center; height:100%;}
.menu ul li{ float:left; background:url(../img/bg1.jpg) repeat-x center; color:#ffffff; font-size:19px; list-style:none; height:60px; line-height:60px; padding:0px 10px 0px 10px;}
.menu ul li a{ text-decoration:none; color:#ffffff;}
.menu ul li a:hover{ text-decoration:none; color:#446396;}
*/
/*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/
.banner-wrap{/*background:url(../img/bg2.jpg);*/ background: #ec7c26;; padding-top:30px; padding-bottom:30px; margin-bottom:25px; margin-top:10px;}
.banner-wrap2{background: #ec7c26;; padding-top:15px; padding-bottom:15px; margin-bottom:15px; margin-top:10px;}
.banner-wrap-grafica{/*background:url(../img/bg2.jpg);*/ background:#ec7c26;padding-top:5px; padding-bottom:5px; }
.banner_title{ width:100%; margin:0 auto;}
.banner_title h2{ font-size:19px; color:#fff; text-align:center}
.banner_title2 h2{ font-size:30px; color:#fff; text-align:center}
/*-------------------------------------------------
PAGE CLASSES
-------------------------------------------------*/
.page{}
.page .content p{ padding-bottom:20px; font-size:18px;}

/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form {background:url(../img/bg4.jpg); padding:30px; width:840px; float:left; margin-top:30px;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#fff;font-size:18px; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text { width:720px; height:35px;background:url(../img/bg3.jpg);border:none; outline:none; color:#385278; font-family: 'Rokkitt', serif; font-size:18px;}
.contact-form .message{width:720px; height:150px;background:url(../img/bg3.jpg); border:none;color:#385278; outline:none; font-family: 'Rokkitt', serif; font-size:18px;}
.contact-form .button{background:url(../img/button.png) no-repeat; color:#ffffff; text-transform:uppercase; font-family: 'Rokkitt', serif;  border: none;margin-left:100px;margin-top:20px; font-size:18px;}

.address { float:left; width:400px; margin-left:40px;}
.address .panel { border:none; color:#6f6b61; padding:30px 0px 0px 0px;}
.address .panel .title h1 {  color:#d13f31; padding-bottom:10px;}
.address .panel .content p span { color:#858175;}
/*-------------------------------------------------
CONTACT CLASSES
-------------------------------------------------*/
.enquiry-wrap{ background:url(../img/bg4.jpg); width:900px; margin:30px auto 0px auto; padding:30px;}
.enquiry-wrap .title{ margin-bottom:0px;}
.enquiry-wrap .title h1{ color:#ffffff;}
.enquiry-form{ overflow:hidden;}
.enquiry-form label{display: block; margin-top:20px;}
.enquiry-form .input_text{ width:900px; height:40px; background:url(../img/bg3.jpg); text-indent:5px; border:none; color:#a5a5a6; font-family: 'Rokkitt', serif; font-size:17px;}
.enquiry-form .message{ width:900px; height:150px; background:url(../img/bg3.jpg); text-indent:5px; border:none; color:#a5a5a6; font-family: 'Rokkitt', serif; font-size:17px;}
.enquiry-form .button{ border:none; background:url(../img/button.png) no-repeat; width:80px; height:30px; text-align:center; margin-top:30px; font-family: 'Rokkitt', serif; font-size:17px; color:#fff; padding-right:10px;}

/*-------------------------------------------------
PORTFOLIO CLASSES
-------------------------------------------------*/
.portfolio-content{ width:960px; margin:0 auto;overflow:hidden; }
.portfolio-categ{text-align:left; margin:0px 0px 30px 0px;
font-size:20px; font-weight:normal;  background:url(../img/portfolio-categbg.png) no-repeat; line-height:50px; padding-left:35px; width:700px; color:#fff; font-family: 'Rokkitt', serif; }
.portfolio-categ li{display:inline;margin-right:10px;}
.image-block{ display:block;position: relative;}
.image-block img{border: 1px solid #d5d5d5; background:#446396; padding:5px; border:none;}
.image-block img:hover{}
.portfolio-area li{float: left;overflow: hidden;width:200px; padding:5px; margin-right:20px;}
.home-portfolio-text{margin-top:10px;}
li.active a{ text-decoration:none; color:#0a4689; padding-right:5px; color:#fff;}

.portfolio-categ a{ text-decoration:none; color:#fff; padding-right:5px;}
.portfolio-categ a:hover{ text-decoration:none; color:#d65a3d; padding-right:5px;}


/*-------------------------------------------------
FOOTER CLASSES
-------------------------------------------------*/
.footer-wrap{ /*background: url(../img/bg5.jpg);*/ background:#ec7c26;overflow:hidden; padding-bottom:10px; padding-top:30px;}
.footer{ width:85%; margin:0 auto;}
.footer .panel{ float:left; width:290px; padding:0px;}
.footer .panel .title{margin-top:0px;}
.footer .panel .title h1{ color:#d65a3d;}
.footer .panel .content ul li{ list-style:none; background:url(../img/lines.jpg) repeat-x bottom; line-height:40px;}
.footer .panel .content ul li a{ color:#828282; text-decoration:none; font-size:17px;}
.footer .panel .content ul li a:hover{color:#b94d32;}
.footer .panel .content{}
.footer .panelLost .content img{margin-right:0px; margin-bottom:20px;}
.footer .panelLost .content .button{ float:left;}

.copyright-wrap{ overflow:hidden;}
.copyright{float: left; padding-top: 1.2em}
.copyright p{ color:#fff; font-size:18px;}
.copyright p a.link{ text-decoration:none; color:#fff;}
.copyright p a.link:hover{color:#fff;}


/*------------------------------------------------------
ICONS SOCIALES
-------------------------------------------------------*/

.content-sociales{float: left;}

.icon_sociales{
	font-size: 2.5em;
    list-style-type: none;
}
.icon_sociales li{display: inline; padding-right: 0.5em;}
.fa-facebook-f{color:#e7e7e7;}
.fa-twitter{color:#e7e7e7;}


/*------------------------------------------------------
         PARA CARRUSEL
-------------------------------------------------------*/
#carrusel {
    float:left;
    width:100%;
    overflow:hidden;
    height:60px;
    position:relative;
    margin-bottom:20px;
}
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}

.carrusel>div {
    float: left;
    height: 60px;
    margin-right: 5px;
    width: 100px;
    text-align:center;
    padding-left: 1em;
}

.carrusel img {
    cursor:pointer;
}


/*------------------------------------------------------
FILTROS MAPA
-------------------------------------------------------*/
.filtros_principal{
	float:left;
	/*border-style: solid;*/
	width:19%;
	padding-top: 1em;
	padding-bottom: 1em;
    text-align: center !important;
}
.filtros_principal.col-sm-4{
    width:16.66%;
}
.filtros_principal h1 { color: #fff; /*#b94d32;*/}
.clearBoth { clear:both; }


#container {
	height: 700px;
	min-width: 310px;
	max-width: 1600px;
}
.loading {
	margin-top: 10em;
	text-align: center;
	color: gray;
}

.mapa_panel{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.divMapid{
    height: 50em !important;

}
.descPin{
   /* display: table-cell;*/

}
#conteoCasos h1{ font-size: 32px;font-weight: bold;}

/*------------------------------------------------------
         PARA MAPA
-------------------------------------------------------*/
.leaflet-popup{
	bottom:12px!important;
}

/*------------------------------------------------------
         PARA DESCRIPCION DEL MAPA
-------------------------------------------------------*/
.icon-information{

	position: absolute;
	display: block;
    top: 34em;
    width: 14em;
    min-height: 18.7em;
    margin-left: 1.5em;
    z-index: 400;
    /*background: url(../img/bg3.jpg);*/
    background:#ec7c26;
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	border: 1px solid #aa6836;

}

	.panel-marcadores{
		font-size: 13px;
		color:#fff;
		overflow: hidden;
		padding-top: 10px;
		width:95%;
	}


/* select */

.select-gra {
    font-size: 15px !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;

  }



  .select-gra select {
    height: 43px !important;
    width: 175px !important;
    outline: none !important;
    -webkit-appearance: none !important;
    display: block !important;
    padding: .8em 3em 1em 1em !important;
    margin: 0 !important;

    transition: border-color 0.2s !important;
    border: 2px solid #d65a3d !important;
    border-radius: 5px;

    background: #fff !important;
    color: #555 !important;
    line-height: normal !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }


  .select-gra .arr:before {
    content: '' !important;
    position: absolute !important;
    top: 65% !important;
    right: 40px !important;
    margin-top: -5px !important;
    pointer-events: none;
    border-top: 10px solid #d65a3d !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
  }

  .select-gra .arr:after {
    content: '' !important;
    position: absolute !important;
    top: 65% !important;
    right: 28px !important;
    margin-top: -5px !important;
    pointer-events: none !important;
    border-top: 6px solid #fff !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent
  }
  
  .leaflet-popup-content-wrapper {
	  		border-radius: 0px; 
	  		border: 2px solid #1d8e42;
	}


	/*************************************
		ESTILOS NOTICIAS
	*************************************/
	.resumen {
      width: 51em;
      height: 9em;
      /*white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;*/
      text-align: justify;
	}

	.panel{
		margin-bottom: 1em;
	}


  .btn-mas-noticia{
			color:#fff;
			border: 1px solid transparent;
			cursor:pointer;
	}


	/*------------------------------------------------------
         PAGINADOR
    -------------------------------------------------------*/

      #paginator_view, #pagination-noticias{
	    float:right;
      }

      .panel-eventos{
	      width:auto;
	      height:12rem;
      }

      .box-eventos{
	      margin:0.1rem 0.5rem;
      }

	  ul.pagination {
	    display: inline-block;
	    margin 0;
	    padding:5px;
	    background:#fff;
	    border-radius:5px;
	    font-size: 13px;
	  }
	  ul.pagination li {
	    display:inline;
	  }
	  ul.pagination li a {
	    color: black;
	    float: left;
	    padding: 8px 16px;
	    text-decoration: none;
	    border-radius: 5px;
	  }
	  ul.pagination li.active a{
	    background: #d65a3d;
	    color: white;
	    border-radius: 5px;
	  }
	  ul.pagination li a:hover:not(.active) {background-color: #ddd;}
