/*------------------------------------------------------
SECCION PARA HOME
-------------------------------------------------------*/
ul.sf-menu li a{
	/*margin: auto 1.1em;*/
}
/*** ESSENTIAL STYLES ***/

.sf-menu{/*background:url(../img/bg1.jpg) repeat-x center;*/ background: #485335; float:left; /*height:52px;*/}
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;

}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	background:#c55237;
	z-index:100;
	opacity:10;
filter:alpha(opacity=40); /* For IE8 and earlier */
border-bottom:#b54a31 solid 1px;
}

.sf-menu ul:hover {
background:#bb4e34;
}

.sf-menu > li {
	float:left;
	list-style:none;
	color:#533c47;
}

.sf-menu ul li{ line-height:15px;}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
	position:absolute;
}

.sf-menu > li a{font-family: 'Rokkitt', serif; font-size:19px; color:#fff; text-align:left;padding: 0.5em 2em}
.sf-menu a {
	display: block;
	position: relative;
	font-family: 'Rokkitt', serif; font-size:17px; color:#afb0a9; text-align:center;
}

.sf-menu a:hover {
background:#485336; color:#ababab;}

.sf-menu a.active {
background:#96a93f; color:#fff; padding: 0.5em 2em}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	margin-bottom: 0.5em;
}
.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
	z-index:100;

}
.sf-menu a {
    padding:15px;
	text-decoration:none;
	zoom: 1; /* IE7 */
	text-transform:none;
}
.sf-menu a {
	color: #13a;
	text-transform:none;
}
.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}


.sf-menu ul li a{ padding:15px;}

.current{ text-transform:none;}

.sf-menu li > ul a{ text-transform: none;}
.sf-menu ul li {border-bottom:#304e12 solid 1px;
}

.sf-menu ul li a{ font-size:18px; font-weight:normal;font-family: 'Rokkitt', serif;}
.sf-menu ul ul li {

}

.sf-menu ul ul li:hover{
	background: #485336 ;

}

.sf-menu li:hover,
.sf-menu li.sfHover {
	/* only transition out, not in */
	background:#485336;
}
.sf-menu li.sfHover >a {
	/* only transition out, not in */
	color:#fff;
}


/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: .9em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/arrows-ffffff.png) no-repeat 0 -100px;
}

li:hover > a .sf-sub-indicator,
li.sfHover > a .sf-sub-indicator {
	background-position: -10px -100px;

}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position: 0 0;
}
.sf-menu ul li:hover > a .sf-sub-indicator,
.sf-menu ul li.sfHover > a .sf-sub-indicator {
	background-position: -10px 0;

}
