<div class="wrap-login100">
  <form class="login100-form validate-form" method="POST" action="{{@BASE}}/sendEmail">
    <span class="login100-form-logo">
      <img src="{{@BASE}}/assets/img/LogoObservatorio.png" alt="Observatorio" width="190px" height="120px">
    </span>
    <span class="login100-form-title p-b-34 p-t-27">Reenvio de contraseña</span>
    <div class="wrap-input100 validate-input" data-validate = "Ingrese correctamente su correo">
      <input class="input100" type="email" name="email" placeholder="Ingrese su correo electrónico" autocomplete="off">
      <span class="focus-input100" data-placeholder="&#xf159;"></span>
    </div>
    <div class="container-login100-form-btn">
      <button class="login100-form-btn">Enviar</button>
    </div>
  </form>
</div>
