<div class="wrap-login100">
  <form class="login100-form validate-form" method="POST" action="{{@BASE}}/authenticate">
    <span class="login100-form-logo">
    	<img src="{{@BASE}}/assets/img/LogoObservatorio.png" alt="Observatorio" width="190px" height="172px">
    </span>
    <span class="login100-form-title p-b-34 p-t-27">Iniciar sesión</span>
    <div class="wrap-input100 validate-input" data-validate = "Enter username">
      <input class="input100" type="text" name="username" placeholder="Nombre de usuario" autocomplete="off">
      <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
      <input class="input100" type="password" name="pass" placeholder="Contraseña">
      <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>
    <div class="container-login100-form-btn">
      <button class="login100-form-btn">
        Ingresar
      </button>
    </div>
    <div class="text-center p-t-30">
      <a class="txt1" href="forgotPassword">
        ¿Olvid&oacute; su contraseña?
      </a>
    </div>
  </form>
</div>
