<!DOCTYPE html>
<html lang="en">
<head>
	<title>Observatorio Nacional de cr&iacute;menes de odio contra personas LGBT</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="text/css" href="assets/img/LogoObservatorio_32x32.png" sizes="32x32">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{@BASE}}/assets/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{@BASE}}/assets/fonts/iconic/css/material-design-iconic-font.min.css"
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{@BASE}}/assets/css/animate.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{@BASE}}/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="{{@BASE}}/assets/css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{@BASE}}/assets/css/paper-dashboard.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{{@BASE}}/assets/img/bandera_arcoiris.jpg');">
		  <div class="wrap-back">
					{{ @btnroute | raw }}
			</div>
			<include href="{{@content|raw}}">
		</div>
	</div>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{@BASE}}/assets/js/jquery-3.3.1.min.js"></script>
  <!--===============================================================================================-->
	<script type="text/javascript" src="{{@BASE}}/assets/js/popper.js"></script>
	<script type="text/javascript" src="{{@BASE}}/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{@BASE}}/assets/js/main.js"></script>
	<script type="text/javascript" src="{{@BASE}}/assets/js/bootstrap-notify.js"></script>
	<script type="text/javascript" src="{{@BASE}}/assets/js/flash_message.js"></script>
	<script src="{{@BASE}}/assets/js/verify_pwd.js"></script>
	<check if="{{@show_message->render === true}}">
		<true>
			<script type="text/javascript">
						login.showNotification("top","left","{{@show_message->message}}","{{@show_message->type}}");
			</script>
	</true>
</check>
</body>
</html>
