<div class="wrap-login100">
  <form class="login100-form validate-form" id="form_resetpassword" method="POST" action="{{@BASE}}/actionResetPassword">
    <input type="hidden" value="{{@value_user}}" name="id_user" />
    <span class="login100-form-logo">
      <img src="{{@BASE}}/assets/img/LogoObservatorio.png" alt="Observatorio" width="190px" height="120px">
    </span>
    <span class="login100-form-title p-b-34 p-t-27">Restablecer contraseña</span>
    <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña">
      <input class="input100" id="password" type="password" name="password" placeholder="Contraseña" autocomplete="off">
      <span class="focus-input100" data-placeholder="&#xf183;"></span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Verifique su contraseña">
      <input class="input100" id="password_verify" type="password" name="password_verify" placeholder="verificar contraseña" autocomplete="off">
      <span class="focus-input100" data-placeholder="&#xf183;"></span>
    </div>
    <div class="container-login100-form-btn">
      <button id="btnSubmit" class="login100-form-btn">restablecer</button>
    </div>
  </form>
</div>
