<div class="card">
  <div class="content">
    <form class="login100-form validate-form" id="form_resetpassword" method="POST" action="{{ @BASE.'/accionActivarUsuario' }}" autocomplete="off">
      <input type="hidden" value="{{@valor_campos['IDUSUARIO']}}" name="_num_ramdon">
      <span class="login100-form-logo">
        <img src="{{@BASE}}/assets/img/LogoObservatorio.png" alt="Fundación Arcoiris" width="207px" height="110px">
      </span>
      <div class="header text-center">
          <h4 class="title">Datos nuevo usuario</h4>
          <h5>* Campo obligatorio</h5>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
              <label>Perfil</label>
              <input type="text" class="form-control border-input" placeholder="Perfil" value="{{@valor_campos['DESCRIPCION']}}" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
              <label>Estado</label>
              <input type="text" class="form-control border-input" placeholder="Estado" value="{{@valor_campos['ESTADO']}}" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
              <label>Usuario*</label>
              <input type="text" class="form-control border-input" placeholder="Usuario" name="usuario" value="{{@valor_campos['USUARIO']}}" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              <label>Nombre*</label>
              <input type="text" class="form-control border-input" placeholder="Nombre" name="nombre" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label>Apellido Paterno*</label>
              <input type="text" class="form-control border-input" placeholder="Apellido" name="apPatern" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label>Apellido Materno*</label>
              <input type="text" class="form-control border-input" placeholder="Apellido" name="apMatern" value="" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label>Correo Electrónico*</label>
              <input type="email" class="form-control border-input" placeholder="Correo Electrónico" value="{{@valor_campos['EMAIL']}}" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label>Organización*</label>
              <input type="text" class="form-control border-input" placeholder="Organización" name="organizacion" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label>Password*</label>
              <input type="password" class="form-control border-input" placeholder="Password" id="password" name="password" value="" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label>Verificar password*</label>
              <input type="password" class="form-control border-input" placeholder="Password" id="password_verify" name="password_verify" value="" required>
          </div>
        </div>
      </div>
      <div class="container-login100-form-btn">
        <button class="btn btn-default" id="btnSubmit">Actualizar datos</button>
      </div>
    </form>
  </div>
</div>
