<div class="col-md-12">
    <div class="card">
        <div class="header2">
	        <div class="float-izq">
	            <h4 class="title">Administración de Usuarios</h4>
	        </div>
	        <div class="float-der">
            	<a class="btn btn-info btn-fill btn-wd2" href="#" data-toggle="modal" data-target="#btnNewUser">
            		<div class="">
                  <span class="ti-pencil"></span> Nuevo
                </div>
            	</a>
	        </div>
        </div>
        <div class="content table-responsive"> <!-- <table class="table table-striped">-->
        	<table id="listUser" class="table table-striped" data-page-length='25' style="width:100%">
		        <thead>
		            <tr>
		              <th>Perfil</th>
			            <th>Estado</th>
			            <th>Nombre usuario</th>
                  <th>Correo Electrónico</th>
                  <th>Estatus</th>
			            <th>Acciones</th>
		            </tr>
		        </thead>
				<tbody>
			        	<repeat group="{{@usuarios}}" value="{{@usuario}}">
				            <tr>
					            <td>{{trim(@usuario["DESCRIPCION"])}}</td>
					            <td>{{trim(@usuario["ESTADO"])}}</td>
                      <td>{{trim(@usuario["USUARIO"])}}</td>
                      <td>{{trim(@usuario["EMAIL"])}}</td>
                      <td>
                        <check if="{{trim(@usuario['ESTATUS']) == 'activo'}}">
                            <span class="estatus activeStatus">Activo</span>
                        </check>
                        <check if="{{trim(@usuario['ESTATUS']) == 'pendiente'}}">
                            <span class="estatus pendingStatus">Pendiente</span>
                        </check>
                      </td>
					            <td style="padding: 1em 0;">
					                <button class="btn btn-primary btnEditUser" role="button" data-toggle="modal" data-target="#btnEdit" data-valueestatus="{{@usuario['ESTATUS']}}" data-valueedit="{{@usuario['IDUSUARIO']}}">
					                  <i class="fa fa-edit"></i>
					                </button>
					                <button role="button" class="btn btn-danger btnEraseUser" role="button" data-valueerase="{{@usuario['IDUSUARIO']}}">
					                  <i class="ti-trash"></i>
					                </button>
					            </td>
				            </tr>
			            </repeat>
        		</tbody>
    		</table>
        </div>
    </div>
</div>
<!-- Editar USUARIO -->
<div class="modal fade" role="dialog" id="btnEdit" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editTitle"><strong>Actualizar datos: </strong><span class="spanUsuario"></span></h4>
      </div>
      <form action="{{ @BASE.'/actualizarAdminUsuario' }}" method="POST" id="actualizarAdminUsuario">
      <input type="hidden" value="{{@usuario['IDUSUARIO']}}" name="idu">
      <div class="modal-body">
        <div class="content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="usuario">Perfil:</label>
                <select name="perfil" id="perfilEdit" class="form-control border-input" required>
                  <option value="">- Elija un de las opciones -</option>
                  <repeat group="{{ @perfiles }}" value="{{ @perfil }}">
                    <option value="{{ trim(@perfil.idperfil) }}">{{ trim(@perfil.descripcion) }}</option>
                  </repeat>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="estado">Estado:</label>
                <select name="estado" id="estadoEdit" class="form-control border-input" required>
                  <option value="">- Elija un de las opciones -</option>
                  <repeat group="{{ @estados }}" value="{{ @estado }}">
                    <option value="{{ trim(@estado.idestado) }}">{{ trim(@estado.estado) }}</option>
                  </repeat>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">Correo:</label>
                <input type="email" id="edit_email" class="form-control border-input" placeholder="Correo Electronico" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btnCancelar" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button type="button" class="btn btn-primary btnActualizar">Actualizar datos</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- CREAR NUEVO USUARIO -->
<div class="modal fade" role="dialog" id="btnNewUser" tabindex="-1" aria-labelledby="editTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editTitle">Nuevo usuario</h4>
        <h5>*Campos obligatorios</h5>
      </div>
			<form action="{{ @BASE.'/nuevoUsuario' }}" method="POST" id="nuevoUsuario" autocomplete="off">
      <div class="modal-body">
					<div class="content">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="usuario">Perfil*</label>
									<select name="perfil" id="perfil" class="form-control border-input" required>
										<option value="">- Elija un de las opciones -</option>
										<repeat group="{{ @perfiles }}" value="{{ @perfil }}">
											<option value="{{ trim(@perfil.idperfil) }}">{{ trim(@perfil.descripcion) }}</option>
										</repeat>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="estado">Estado*</label>
									<select name="estado" id="estado" class="form-control border-input" required>
										<option value="">- Elija un de las opciones -</option>
										<repeat group="{{ @estados }}" value="{{ @estado }}">
											<option value="{{ trim(@estado.idestado) }}">{{ trim(@estado.estado) }}</option>
										</repeat>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="email">Correo*</label>
									<input type="email" id="email" name="email" class="form-control border-input" placeholder="Correo Electronico" required>
								</div>
							</div>
						</div>
					</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limpiarcampos();">Cancelar</button>
        <button type="submit" class="btn btn-primary">Crear usuario</button>
      </div>
			</form>
    </div>
  </div>
</div>
