<div class="card">
	<form name="" id="" action="">
    <div class="header">
      	<h4 class="title">Nuevo usuario</h4>
    </div>
		<div class="content">
      <!-- Nav tabs -->
			<ul class="nav nav-tabs" id="tabCuestionario" role="tablist">
				<li class="nav-item active">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#personales" role="tab" aria-controls="home" aria-selected="true">
						Informacion
          </a>
				</li>
      	</ul>
        <!-- Tab panes -->
          <div class="tab-content">
              <!-- TAB DE DATOS PERSONALES -->
              <div class="tab-pane active" id="personales" role="tabpanel" aria-labelledby="datos-tab">
                  <div class="content">
                      <div class="row">
                         <div class="col-md-3">
                              <div class="form-group">
                                  <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                  <label> Usuario: </label>
                                  <input type="text" name="nombre_social" class="form-control border-input"  placeholder="Usuario" value="">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                  <label> Nombre: </label>
                                  <input type="text" name="nombre_social" class="form-control border-input"  placeholder="Nombre" value="">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                  <label> Apellido Paterno: </label>
                                  <input type="text" name="nombre_legal" class="form-control border-input"  placeholder="Apellido Paterno" value="">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <!--<label> {{ @preguntas[0]->descripcion }}: </label>-->
                                  <label> Apellido Mterno: </label>
                                  <input type="text" name="nombre_legal" class="form-control border-input"  placeholder="Apellido Materno" value="">
                              </div>
                          </div>

                      </div>
                      <div class="row">
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label> Sexo: </label>
                                  <div class="form-check">
                                      <input class="form-check-input" name="sexo" type="radio"  value="1" checked>
                                      <label class="form-check-label" for="exampleRadios2">Hombre</label>
                                      &nbsp;
                                      <input class="form-check-input" name="sexo" type="radio"  value="2">
                                      <label class="form-check-label" for="exampleRadios2">Mujer</label>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label> Edad: </label>
                                  <input type="text" name="edad" class="form-control border-input" maxlength="2" pattern="[0-9]{2}" placeholder="" value="">
                              </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label> Estado donde radica: </label>
                              <select name="estado_nacimiento" id="estado_nacimiento" class="form-control border-input">
                                    <option value="98">Seleccione</option>
                                    <repeat group="{{ @estados }}" value="{{ @estado }}">
                                          <option value="{{ trim(@estado.idestado) }}">{{ trim(@estado.estado) }}</option>
                                    </repeat>
                                  </select>
                            </div>
                          </div>
                      </div>
                  </div><!-- content-->
              </div>
              <!-- TAB DE DATOS PERSONALES -->
	        <div class="text-center">
	              <button type="submit" class="btn btn-info btn-fill btn-wd">Guardar</button>
	        </div>
			<div class="clearfix"></div>
		</div>
	</form>
</div>
