<div class="card">
    <div class="header">
        <h4 class="title">Edición de Usuario</h4>
    </div>
    <div class="content">
        <form method="POST" id="formPerfilUsuario" action="{{ @BASE.'/actionmodificarperfil' }}">
          <input type="hidden" name="idu" value="{{@usuario->idusuario}}">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" name="name" class="form-control border-input" placeholder="Nombre" value="{{@usuario->nombre}}" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Apellido Paterno:</label>
                        <input type="text" name="appaterno" class="form-control border-input" placeholder="Paterno" value="{{@usuario->apellidopat}}" required autocomplete="off">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Apellido Materno:</label>
                        <input type="text" name="apmaterno" class="form-control border-input" placeholder="Materno" value="{{@usuario->apellidomat}}" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre Usuario</label>
                        <input type="text" class="form-control border-input" disabled placeholder="Usuario" value="{{@usuario->usuario}}" required autocomplete="off">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input type="text" name="email" class="form-control border-input" placeholder="Email" value="{{@usuario->email}}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre de Organización: </label>
                        <input type="text" name="organizacion" class="form-control border-input" placeholder="organización" value="{{@usuario->organizacion}}" required>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" id="btnsubmit" class="btn btn-info btn-fill btn-wd">Guardar</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<script>
  $( document ).ready(function() {
    $("#btnsubmit").on("click", function (event){
      event.preventDefault();
      var result = confirm("Desea guardar los cambios??\nUna vez guardados los cambios volverá a iniciar sesión, para poder actualizar su información");
      if(result){
        $("#formPerfilUsuario").submit();
      }
    });
  });
</script>
