<div class="carrusel">
    <div class="product" id="product_0">
        <img src="gallery/01.jpg" width="195" height="100" />
    </div>
    <div class="product" id="product_1">
        <img src="gallery/02.jpg" width="195" height="100" />
    </div>
    <div class="product" id="product_2">
        <img src="gallery/03.jpg" width="195" height="100" />
    </div>
    <div class="product" id="product_3">
        <img src="gallery/01.jpg" width="195" height="100" />
    </div>
    <div class="product" id="product_4">
        <img src="gallery/02.jpg" width="195" height="100" />
    </div>
    <div class="product" id="product_5">
        <img src="gallery/03.jpg" width="195" height="100" />
    </div>
</div>
