<div class="footer-wrap">
  	<div class="footer">
		<div class="content">
			<div id="carrusel">
				<div class="carrusel">
					<div class="logo_org" id="logo_org_0">
						<a href="http://fundacionarcoiris.org.mx/">
	                  		<img src="assets/img/logos_patrocinio/logo_fundacion_arcoiris.png" width="110" height="60" alt="Fundación Arcoiris"/></a>
              		</div>
		              <div class="logo_org" id="logo_org_1">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/arcoiris-chilpancingo.svg" width="100" height="60" alt="Arcoiris chilpancingo"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_2">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/codise.svg" width="100" height="60" alt="CODISE"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_3">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/codiver.svg" width="100" height="60" alt="CODIVER"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_4">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/colectivo-michoacan.svg" width="100" height="60" alt="Colectivo Michoacán"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_5">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/colectivo-vallarta.svg" width="100" height="60" alt="Colectivo Vallarta"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_6">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/colectivos-ambientales.svg" width="100" height="60" alt="Colectivos ambientales"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_7">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/comunidad-san-aelredo.svg" width="100" height="60" alt="Comunidad San Aelredo"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_8">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/convihve.svg" width="100" height="60" alt="CONVIHVE"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_9">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/fatima.svg" width="100" height="60" alt="Fatima"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_10">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/gess.svg" width="100" height="60" alt="GESS"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_11">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/logo-explorat.svg" width="100" height="60" alt="Logo explorat"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_12">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/siscex.svg" width="100" height="60" alt="SISCEX"/></a>
		              </div>
		              <div class="logo_org" id="logo_org_13">
		                  <a href="#" ><img src="assets/img/logos_patrocinio/vidaplena-puebla.svg" width="100" height="60" alt="Vida plena Puebla"/></a>
		              </div>
          		</div>
        	</div>
		</div>
		<div class="content">
			<div class="content-sociales">
		    			<ul class="icon_sociales">
		    				<li><a href="http://www.fundacionarcoiris.org.mx/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
							<li><a href="http://www.fundacionarcoiris.org.mx/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
		    			</ul>
		    </div>
			<div class="copyright">
				
				   <p>© 2019  Observatorio Nacional de cr&iacute;menes de odio contra personas LGBT / MX All Rights Reserved  | 
					   <a href="#" class="link">Privacy Policy</a>&nbsp;&nbsp
				
			</div>
		</div>	
  </div>
</div>
<!---footer-wrap--->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/hoverIntent.js"></script>
<script src="assets/js/superfish.js"></script>
<script src="assets/js/principal.js"></script>
<script src="assets/js/marcadores.js"></script>
<!--<script src="assets/js/pagination.js"></script>-->
<script src="assets/js/jquery.twbsPagination.js"></script>
<script src="assets/js/noticias_eventos_principal.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="assets/js/graficas.js"></script>
<script src="assets/js/graficas2.js"></script>
</body>
</html>
