<!---header-wrap-->

<div class="clear"></div>
<div class="container">
	<div class="banner-wrap-grafica">
		<div class="banner_title">
			<div class="filtros_principal col-sm-4">
				<div class="select-gra">
					<h2>Año:<br></h2>
					<span class="arr"></span>
					<select name="year" id = "year">
						<option value="0">Todos los años</option>
						<repeat group="{{ @year }}" key="{{ @key }}" value="{{ @value }}">
							<p>{{ @key }}-{{ @value }}-{{ @count }}</p>
							<option value="{{ (@value) }}" >
									{{ trim(@value) }}
								</option>
							</repeat>
					</select>
				</div>
			</div>
			<div class="filtros_principal col-sm-4">
				<div class="select-gra">
					<h2>Tipo de Gráfica:<br></h2>
					<span class="arr"></span>
					<select name="tipo_mapa" id = "tipo_mapa">
						<option value=1>Mapa</option>
						<option value=2>Por Estados</option>
					</select>
				</div>
			</div>
			<div class="filtros_principal col-sm-4">
				<div class="select-gra">
					<h2>Tipos de incidente:<br></h2>
					<span class="arr"></span>
					<select name="tipo_incidente" id = "tipo_incidente">
						<option value="">Seleccione</option>
						<option value="1">Asesinato</option>
						<option value="2">Desaparición</option>
					</select>
				</div>
			</div>
			<div class="filtros_principal col-sm-4">
				<div class="select-gra">
					<span class="arr"></span>
					<h2>Agresiones Reportadas:<br></h2>
					<select name="estado_agresion" id = "estado_agresion" class="form-control border-input">
						<option value="">Seleccione</option>
						<repeat group="{{ @estados }}" value="{{ @estado }}">
									<option value="{{ trim(@estado.idestado) }}" >
										{{ trim(@estado.estado) }}
									</option>
						</repeat>
					</select>
				</div>
			</div>
			<div class="filtros_principal col-sm-4">
				<div class="select-gra">
					<h2>Filtro:<br></h2>
					<span class="arr"></span>
					<select name="filtro" id = "filtro">
						<option value="">Seleccione</option>
						<option value="Orientación Sexual">Orientación Sexual</option>
						<option value="Por Edad">Por Edad</option>
						<option value="Por Identidad de Género">Por Identidad de Género</option>
						<option value="Por Impunidad">Por Impunidad</option>
						<option value="Por Migración">Por Migración</option>
						<option value="Tipo de Arma">Tipo de Arma</option>
						<option value="Defensores DH">Defensoría DH</option>
					</select>
				</div>
			</div>
			<div class="filtros_principal col-sm-4">
				<h2>Resultado:</h2>
				<div id= "contenedorCasos" ><div id ="conteoCasos"><h1>0 CASOS</h1></div></div>
				</div>
			<br class="clearBoth">
		</div>
	</div>

	<!--<div class="page-wrap">-->

	  <div id="weathermap"  class="descPin"></div>
	  <div id= "pingDescription" class="descPin"></div>
	  
	  <br><br>
	  <div id="graficaPie"></div>
	  <br><br>

</div>
  <!---panel-end--->
<!--</div>-->
