<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="assets/img/LogoObservatorio_32x32.png" sizes="32x32">
<title>Observatorio Nacional de cr&iacute;menes de odio contra personas LGBT</title>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<link rel="stylesheet" href="assets/css/dark-unica.css" media="screen">
<!---menu--->
<link rel="stylesheet" href="assets/css/superfish.css" media="screen">
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header-wrap">
  <div class="wrap login-link"><a href="login">Iniciar sesión</a></div>
  <div class="logo">
    <a href="http://www.fundacionarcoiris.org.mx/">
      <img src="assets/img/LogoObservatorio.png" alt="Observatorio" width="210px" height="192px">
    </a>
    <h1>Observatorio Nacional de cr&iacute;menes de odio <br>contra personas LGBT</h1>
  </div>
  <div class="menu">
    
    <ul class="sf-menu" id="menuPrincipal">
      <li class=""> <a href="panel" class="{{@activeG}}">GR&Aacute;FICAS </a></li>
      <li class=""><a href="noticiasEventos" class="{{@activeN}}">NOTICIAS </a></li>
    </ul>
    
  </div>
  

  
  
</div>
