<!---header-wrap--->
<div class="clear"></div>
<div class="banner-wrap2">
  <div class="banner_title2"> <h2>NOTICIAS</h2><!--img src="images/banner1.jpg" alt="banner" />--> </div>
</div>
<!---banner--->
<div class="page-wrap noticias-wrap">
  <div class="panel">
          <div class="title">
              <h1>{{ @infoNoticia.titulo }}</h1>
              <h2>{{ @fechaCastellano( @infoNoticia.fecha_publicacion) }}</h2>
          </div>
          <div class="content">
              <img src="assets/img/puno.jpg"  width="190" alt="" />
              <p class="resumen"> {{@infoNoticia.descripcion}} </p>
          </div>
   </div>
</div>
