<!---header-wrap--->
<div class="clear"></div>
<div class="banner-wrap2">
  <div class="banner_title2"> <h2>NOTICIAS</h2><!--img src="images/banner1.jpg" alt="banner" />--> </div>
</div>
<!---banner--->
<div class="page-wrap noticias-wrap">
   <div id="publish_noticias"></div>
   <ul id="pagination-noticias" class="pagination-sm"></ul>
</div>

<div class="banner-wrap2">
  <div class="banner_title2"> <h2>EVENTOS</h2><!--img src="images/banner1.jpg" alt="banner" />--> </div>
</div>
<div class="page-wrap">
  <div class="wrap" id="publish_eventos"></div> <!---wrap-end--->
  <!--div id="paginator_view"></div-->
  <ul id="paginator_view" class="pagination"></ul>
</div>
